[2022-05-04 09:02] FabianKramm opened #461 "Refactor vcluster to make serviceCIDR optional"
Right now vcluster requires the serviceCIDR in the helm values which makes it difficult to use vcluster via kubectl apply or pure helm install. Instead of requiring the service cidr during helm install / upgrade, we could find out the value within an init container, write the value to a config map and then have the k0s, k3s or k8s api server mounted to that config map to fill in this value automat

[2022-05-04 09:08] FabianKramm opened #462 "Add mapping between host and virtual cluster services"
In an effort to make it easier to reuse host or virtual cluster services, we can add a feature that maps a virtual cluster service to an host cluster service or vice versa. This would allow easy sharing of components between host and virtual cluster. We could make this happen by creating an external name service that would point to another service either in the host or virtual cluster. Configurati

[2022-05-04 13:52] alexandrem opened #463 "Cannot change service type in vcluster"
### What happened?

I wanted to test the conformance of a vcluster and decided to run the Sonobuoy E2E test suite.

I noticed various issues with some failed tests, some of them that could potentially be fixed with different syncer flags or the upcoming scheduler in vcluster 0.8.

However, one issue that particularly caught my attention was some tests in SIG-NETWORK regarding ExternalName services

[2022-05-04 15:18] #463 closed

[2022-05-05 18:43] LukasGentele commented on #443
@FabianKramm love the idea of the `plugins/` folder directly inside the main vcluster repo. We should accept PRs for that and work on some on our own. We can flag the ones we officially maintain in the README or so just like Docker Hub does it with their "official" images and the other ones can be in the same folder. We may need to set acceptance criteria at some point to make sure people hit cert

[2022-05-06 07:22] FabianKramm opened #465 "vcluster plugin hooks"
Currently vcluster lets you write plugin and create completely separate controllers and syncers with the plugin SDK. However there are many use cases that do not want to exchange a syncer or create a new one from scratch and rather want to change syncing behaviour for existing syncers. We should introduce hooks that allows plugins to modify outgoing objects similar to an admission controller.

[2022-05-07 14:12] #443 closed

[2022-05-09 13:31] dannyt-cx opened #467 "vCluster imagePullSecrets not working"
### What happened?

Hi again!
i've come running as soon as i saw an official release and i found a problem with it :(
the ImagePullSecrets was added here -
https://github.com/loft-sh/vcluster/blob/main/charts/k8s/templates/pre-install-hook-serviceaccount.yaml

This affects only the pre-install job - and that works.

Next comes up the Api-server/etcd/controller and there it stops :(

This is becaus

[2022-05-09 19:06] ksingh7 opened #468 "vcluster connect via Ingress method does not work even with tls-san option"
### What happened?

I wanted to create a vcluster and access it using kubectl CLI after exporting kubeconfig file. For this i followed this guide line-by-line [https://www.vcluster.com/docs/operator/external-access#ingress](https://www.vcluster.com/docs/operator/external-access#ingress)

vcluster does not connect via kubectl CLI

[code]

### What did you expect to happen?

After following the guid

[2022-05-09 19:07] ksingh7 commented on #468
FYI this `error: the server doesn't have a resource type "namespaces"` error has started once i upgraded to 0.80 vcluster.
Previously i was getting error of certificate mismatch which i am not able to reproduce, but that was the original problem

[2022-05-09 19:32] olljanat commented on #465
This would be very useful for my [RunAsUser Plugin](https://github.com/k8s4u/vcluster-runasuser-plugin) which currently uses plugin functionality to just register it selves as *MutatingAdmissionWebhook* and targets to make users life easier with restricted pods.

However it looks to be that currently I cannot get rid of `PodSecurity` warnings coming from vcluster because validation actually happen

[2022-05-09 19:44] olljanat commented on #323
Afaiu this was implemented on [v0.7.0](https://github.com/loft-sh/vcluster/releases/tag/v0.7.0)?

However there is still room to make user experience better by making pods compliant with *restricted* policy by default which I have been trying to do lately like mentioned on https://github.com/loft-sh/vcluster/issues/465#issuecomment-1121494176

Then vcluster can be easily used to turn any Kubernete

[2022-05-09 19:47] olljanat commented on #302
Afaiu just released [v0.8.0](https://github.com/loft-sh/vcluster/releases/tag/v0.8.0) added support for this?

[2022-05-09 19:53] olljanat commented on #159
FYI. Now vcluster have support for plugins https://www.vcluster.com/docs/plugins/overview and here is even case example for CRD sync https://github.com/loft-sh/vcluster-sdk/tree/main/examples/crd-sync

Also based on discussion on https://github.com/loft-sh/vcluster/issues/443#issuecomment-1110694323 it probably would be possible to get those code and hosted here as same repo with vcluster it selve

[2022-05-09 20:09] olljanat commented on #18
@Frankkkkk have you tried this again? IPv6 only mode have been supported by k3s on some level after my PR https://github.com/k3s-io/k3s/pull/4450 was merged and I see that there have been some improvements even on latest version https://github.com/k3s-io/k3s/releases/tag/v1.23.6%2Bk3s1

So probably it would be good idea to test with values file like this:
[code]

[2022-05-10 08:52] Shaked commented on #465
@olljanat  I share the same thoughts as you about this issue. This would be a great feature in vcluster.

In the meanwhile, I solved this by using jsoolicy - another tool by Loft. I didn’t want to code the admission hook myself, so I ended up with this policy:

https://github.com/Greeneye-Technology/vcluster-secrets-store-csi-plugin/blob/main/jspolicy/secret-provider-class.yaml

It requires the us

[2022-05-10 10:08] FabianKramm commented on #467
@dannyt-cx thanks for creating this issue! They actually should as they are linked to the service account here: https://github.com/loft-sh/vcluster/blob/main/charts/k8s/templates/serviceaccount.yaml , which adds the image pull secrets. Did you maybe add the image pull secrets after the pods were already created?

[2022-05-10 10:11] FabianKramm commented on #302
@olljanat yes thats correct we added support for this in v0.8.0! I'm closing this

[2022-05-10 11:02] FabianKramm commented on #462
Implemented with v0.8.0

[2022-05-10 11:02] #462 closed

[2022-05-10 11:02] #402 closed

[2022-05-10 11:07] FabianKramm opened #471 "Update vcluster k8s dependencies"
We should update vcluster's k8s as well as controller runtime dependencies to v1.24

[2022-05-11 12:48] matskiv opened #474 "vcluster v0.8.0 fails to start when using v1.20 and earlier version of virtual kubernetes"
### What happened?

vcluster syncer fails to start due to the missing kind "EndpointSlice" in version "discovery.k8s.io/v1"
[code]

### What did you expect to happen?

vcluster should successfully start and it's pod should report the Ready state

### How can we reproduce it (as minimally and precisely as possible)?

get vcluster cli version 0.8.0 and create a cluster using these values:
[code]

##

[2022-05-11 13:02] Shaked commented on #474
Thank you @matskiv I will start asap and keep you posted!

[2022-05-11 13:05] dannyt-cx commented on #467
found whats wrong
in the deployment file for api-server/etcd/controller
there's no definition for `serviceAccountName: vc-{{ .Release.Name }}`

[2022-05-11 13:40] nrchakradhar commented on #474
Not directly related to this, but wanted to know if there is any version matrix maintained that shows which versions of vcluster are compatible with which versions of host kubernetes?

[2022-05-12 10:01] pingenglj opened #475 "Consider adding port 6443 to default NetworkPolicy"
### Is your feature request related to a problem?

We are deploying `vcluster` using Terraform and use `6443` (default) for the host cluster API server:

[code]

However, in `isolation.enabled=true` mode, a `NetworkPolicy` is applied that restricts Egress to ports `443` and `8443`:
https://github.com/loft-sh/vcluster/blob/main/charts/k8s/templates/networkpolicy.yaml#L54

This prevents the vcluster

[2022-05-13 09:49] Chakravarti-Baratam opened #477 "What is the behavior of vcluster for deployment with hostPath?"
Hi,
I am trying to understand the behaviour of vcluster with hostPath. For example, if I try to deploy splunk-connect (https://github.com/splunk/splunk-connect-for-kubernetes/blob/develop/manifests/splunk-kubernetes-logging/daemonset.yaml), what will happen with hostPath?
Thanks,

[2022-05-13 10:45] #475 closed

[2022-05-13 10:48] FabianKramm commented on #467
You are correct @dannyt-cx, we need to add that, also to the controller and scheduler deployment!

[2022-05-13 10:58] FabianKramm commented on #477
@Chakravarti-Baratam thanks for creating this issue! We currently do not touch host paths at all, so they will just be forwarded as is to the host cluster. Depending on which host path is mounted though this can create problems, for example some logging solutions expect certain names of pods in the host path.

[2022-05-13 11:46] #467 closed

[2022-05-13 11:59] nrchakradhar commented on #474
Thanks for the information @FabianKramm

[2022-05-13 13:23] FabianKramm opened #479 "test flake: should be able to deny attaching pod"
This test often fails due to network / exec problems. It seems that opening many exec streams cause this sometimes, so we might want to decrease exec call frequency.

[2022-05-16 09:22] #465 closed

[2022-05-20 11:59] olljanat opened #482 "Init manifest does not works with target-namespace"
### What happened?

It looks to be init manifests does not get processed when using `--target-namespace` and that is because config map ends up to different namespace than where syncer it looking for it.

### What did you expect to happen?

Init manifest to be processed.

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

If I copy co

[2022-05-24 09:56] #471 closed

[2022-05-25 09:01] gameiro opened #485 "Vcluster List command should show as well paused clusters"
### Is your feature request related to a problem?

When running the command `vcluster list`

It shows all the available vclusters in the host cluster and that is expected.

But if we pause a particular vcluster `vcluster pause my-vcluster` and run again the command: `vcluster list`

The paused cluster is not visible in the list, making difficult for operators to know what is the vcluster that they

[2022-05-25 09:15] FabianKramm commented on #485
@gameiro thanks for creating this issue! We'll fix this for the next release!

[2022-05-25 15:10] #395 closed

[2022-05-25 15:10] #477 closed

[2022-05-26 07:27] PetrovMikhail opened #487 "Update helm chart with priorityClassName section"
### Is your feature request related to a problem?

The problem appears when you need to define priorityClassName value to make an order of vcluster pods rolling out. Currently it can't be done via helm chart's values. It is necessary for instance, when you have k8s vcluster distribution and want to run etcd pods first. Otherwise other pods like syncer or api will be restarted several times until e

[2022-05-26 07:56] PetrovMikhail opened #488 "Extend coredns helm template"
### Is your feature request related to a problem?

The problem appears when you need to roll out default coredns deployment using image from private registry, for instance because of strict company requirements. In this case you need to define imagePullSecret section for coredns deployment, but it can not be done via Helm values. Recently imagePullSecret section was added to API, controller deploy

[2022-05-26 12:37] FabianKramm commented on #487
@PetrovMikhail thanks for creating this issue! Yes we can do that!

[2022-05-26 12:52] FabianKramm commented on #488
@PetrovMikhail thanks for creating this issue! I guess the image pull secret parameter with be difficult as we would need to copy the image pull secret into the virtual cluster here. You can actually add required image pull secrets for vcluster workloads via the `serviceAccount.imagePullSecrets` option. This will also add the image pull secret to the core dns deployment. Besides that we can defini

[2022-05-26 13:08] FabianKramm opened #489 "Add v1.24 support for k3s, k0s, k8s & eks"
With the release of Kubernetes v1.24 we need to add support for the following distros and version v1.24 (as soon as the distro's officially support the new version):
- [ ] k0s
- [ ] k3s
- [ ] k8s
- [ ] eks
- [ ] dns (in controller)

[2022-05-26 13:34] FabianKramm opened #490 "Add docs for vcluster cluster api provider"
We have a shiny new cluster api provider for vcluster and should mention it within our vcluster docs, so that people know that this possibility exists to run vcluster in a more managed fashion.

[2022-05-26 13:37] FabianKramm commented on #441
Another possible idea for this problem would be to use vcluster alongside [liqo](https://github.com/liqotech/liqo), which essentially allows using nodes to schedule workloads to other clusters. Combined with vcluster this would mean we could schedule vcluster workloads as well as parts of the vcluster itself onto that nodes and essentially enable multi-cluster functionality.

We need some more inv

[2022-05-26 14:19] PetrovMikhail commented on #488
Hi @FabianKramm , thank you for your answer! I know about a possibility of setting imagePullSecrets via `serviceAccount.imagePullSecrets` option, thanks for the hint. Unfortunately I guess that `coredns` deployment uses own service account, which hasn't this setting, see [serviceAccount.imagePullSecrets](https://github.com/loft-sh/vcluster/blob/main/charts/k8s/templates/coredns.yaml#L122). So, may

[2022-05-26 14:31] FabianKramm opened #492 "Add vcluster to artifactory"
Currently there is no official vcluster chart on artifactory. We should add one for people that want to use vcluster without CLI and pure helm. Since using pure helm requires manual service CIDR discovery, we probably should wait until #461 is merged.

[2022-05-26 14:34] FabianKramm commented on #488
@PetrovMikhail since the coredns pod is created inside the vcluster, the service account will be rewritten to the workload service account available in the chart, so this should work I believe with the regular `serviceAccount.imagePullSecrets` option and v0.8.1

[2022-05-26 14:40] olljanat commented on #441
Yes, with quick look I really like liqo architecture. Especially the parts it allows mix clusters with different CNIs and on-prem+managed. Definitely worth to investigate more.

[2022-05-26 14:45] PetrovMikhail commented on #488
Ok, good to know, thank you @FabianKramm!

[2022-05-26 15:47] alexandrem opened #493 "vcluster goes awry when you delete the service"
### What happened?

If you delete the main vcluster service in the host namespace, the syncer seems to go awry and delete all cluster resources. The pods get deleted, while the services seem to be recreated constantly.

This obviously disrupts the cluster.

Recreating the host vcluster service will not fix the issue automatically. This will start duplicating the cluster resources on the downstream

[2022-05-27 10:02] FabianKramm commented on #493
@alexandrem thanks for creating this issue! Since vcluster uses this service as API endpoint for all workloads inside the virtual cluster, deleting it definitely will cause problems and render the cluster unusable. However, I agree, it definitely should recover after recreation as well as not deleting anything while in this broken state.

[2022-05-27 10:54] #487 closed

[2022-05-29 16:51] olljanat commented on #441
I think that we need wait 0.5 mentioned here https://github.com/liqotech/liqo#roadmap as vcluster will need this feature which is targeted to it:

Other things which I'm not too sure are the facts that:
1. whole remote cluster is shown as single node in local cluster.
2. node and namespace view is different depending which cluster you are looking for.

[2022-05-30 08:58] giorio94 commented on #441
Hi! Liqo maintainer here :-)

I have to admit we haven't managed yet to investigate the combination of vcluster and liqo (we hope to be able to give it a try soon), but we feel it might be definitely interesting.

A first implementation of the feature required to support offloaded applications requiring to interact with the home API server is already merged into master, and will be included in the

[2022-05-31 10:20] #482 closed, assigned to ishankhare07

[2022-05-31 10:37] FabianKramm opened #503 "Improve e2e testing"
Currently we deploy vcluster in a single configuration in parallel in 4 different jobs for each distro. While this works and smoke tests vcluster, several features and areas of vcluster remain untested due to this single deployment of vcluster. Hence I propose to deploy vcluster within those jobs multiple times in different configurations, so that we can test certain features as well.

Currently u

[2022-05-31 14:22] FabianKramm opened #504 "Make vcluster run as non root by default"
Currently vclusters run as root by default. We should change that to non root and mark this as a breaking change as this will cause problems if vcluster is updated without changing any configuration.

[2022-05-31 14:24] FabianKramm opened #505 "Make pre install hook a regular job & non root"
Currently the pre install job for k8s and eks runs as root. We should change that to non root by default and make this a regular job as helm hooks can cause problems when using through `kubectl apply` or argo cd.

Checklist:
- [x] Make pre install job non root
- [x] Remove pre install annotations
- [x] Define a migration path
  - [x] Make sure the vcluster generate certs command checks if the secr

[2022-05-31 15:21] ishankhare07 commented on #493
@alexandrem Thanks for creating this issue. Here are some things I found related to this:

Currently all synced `pods` in the host cluster have an `ownerReference` set on them, owned by `svc/vcluster`. The moment you delete the `svc/vcluster`, k8s starts its garbage collection logic on all these host cluster pods by adding the `metadata.deletionTimestamp` on them.

This then triggers the syncer, w

[2022-05-31 16:44] #485 closed

[2022-06-01 08:23] #488 closed

[2022-06-01 08:53] FabianKramm opened #508 "Package applications with vcluster"
## Use Case

One of the great advantages of vcluster is its easy way to install and maintain. You can install it into every CNCF conformant cluster and it usually works right out of the box. There are also applications that depend on other operators such as cert manager or argo cd. If you distribute such an an application, those operators could be conflicting with other operators already in the cl

[2022-06-01 08:56] FabianKramm opened #509 "Epic: Add openshift support"
## Use Case

Currently we already support multiple virtual distros in vcluster, but it would be nice for our enterprise customers that rely on openshift to add support for a virtual openshift distribution. It might be also very interesting to run a virtual openshift inside a regular kubernetes cluster.

## Implementation

We need investigation around what controllers we need to support and if we w

[2022-06-01 08:59] FabianKramm opened #510 "Epic: Add support for logging solutions inside vcluster"
## Use Case

Currently its not possible to use common logging solutions such as FluentD or ELK stack inside vcluster, because all of them mount the node host path directly. While an acceptable solution is to provide a single logging solution in the host cluster, there are also use cases where you would want to install the solution directly inside the virtual cluster.

## Implementation

We can rew

[2022-06-01 09:03] FabianKramm opened #511 "Epic: Create and maintain popular vcluster plugins"
## Use Case

Starting with v0.9.0 we have a greatly improvement plugin experience in vcluster and want to provide some plugins for very commonly used operators such as crossplane, argo cd or cert manager. With plugins it is possible to reuse operators of the host cluster inside each vcluster to avoid an extra installation there. Other use cases for plugins are also thinkable such as: a generic CRD

[2022-06-01 15:12] alexandrem commented on #493
I confirm that this is fixed with `--set-owner=false` as syncer extraArgs. Everything is much more resilient now.

Thanks!

[2022-06-01 15:12] #493 closed

[2022-06-02 09:53] #479 closed

[2022-06-02 11:37] pratikjagrut commented on #468
Hi, @ksingh7 sorry for the delayed reply. What ingress controller are you using?

[2022-06-02 16:13] #461 closed

[2022-06-02 16:29] FabianKramm opened #519 "Create docs page on how to upgrade vcluster to a newer kubernetes version"
Currently we lack a docs page on how vcluster can be upgraded (or downgraded) to a different kubernetes version. This is different from distro to distro and we can reference to k3s, k0s etc. docs, but for vcluster the upgrade process is usually much simpler than for a real kubernetes cluster as the cluster is usually smaller and its easier to update just the image version of the deployed vcluster

[2022-06-03 06:45] jacksgt commented on #14
Hello,

I'm seeing the exact same issue (`chmod kine.sock: no such file or directory`) on an Openshift cluster with vcluster version `0.8.1`.
I installed the
The PVC is using CephFS based storage (not NFS like in the previous comments).
[code]

Please let me know any other commands which I can run to debug this issue.

[2022-06-03 08:50] #505 closed

[2022-06-03 16:18] FabianKramm opened #522 "k3s prints proxy error"
Currently k3s sometimes prints an error to console in some environments (gke & eks):
[code]
Seems like this is not impacting vcluster's functionality but it its annoying in the logs.

[2022-06-04 06:48] tekumara opened #523 "Allow context name in generated kube config to be specified"
### Is your feature request related to a problem?

`vcluster connect` creates a _kubeconfig.yaml_ with a context named `Default`:

[code]

I'd like to merge this with my existing _kubeconfig.yaml_ which already has a context named `default`

### Which solution do you suggest?

An option to specify the generated context name, eg:
[code]

### Which alternative solutions exist?

Manually modifying th

[2022-06-06 07:43] krzwiatrzyk commented on #522
Same here, but it impacts cluster functionality

connecting via port-forward (`vcluster connect` command):
[code]

[2022-06-06 09:19] FabianKramm commented on #523
@tekumara thanks for creating this issue! Yes we can add that option!

[2022-06-07 13:02] #368 closed

[2022-06-07 21:29] matskiv commented on #522
@krzwiatrzyk From the first error that you posted it seems more like a certificate problem with the host cluster :thinking:
The `<REDACTED>` part is the URL of your host cluster?
Do you observe any impact besides `vcluster connect` failing? E.g. do you see coredns pod deployed along side the vcluster pod in the host namespace?

[2022-06-08 06:32] krzwiatrzyk commented on #522
yes, `<REDACTED>` is the URL of my host cluster.
It is using default certificates generated by K3s (host cluster is K3s). I have no issue with accessing the host cluster and running any workload on it.

Yes, it impacts it a lot, I cannot do a thing:
[code]
This is result of `vcluster connect` command and it results with error thus I cannot connect to the cluster.

[2022-06-08 07:27] FabianKramm opened #528 "Simplify vcluster creation for local kubernetes clusters"
Right now vcluster needs port-forwarding by default for all Kubernetes clusters if not specified otherwise. For local Kubernetes distributions such as docker-desktop, minikube etc., we could by default deploy vcluster with a NodePort service instead and then create a kubeconfig for the node port to avoid port-forwarding. This makes it a lot easier to use vcluster with local k8s. Since most distros

[2022-06-08 07:46] #523 closed

[2022-06-08 09:43] kyushuadamu commented on #522
I am also seeing this in my logs. Will investigate further tomorrow.

[code]

[2022-06-09 08:02] FabianKramm commented on #503
Thanks for the update @matskiv ! Regarding your ideas:
* Sounds great! One question regarding cleanup: would we have an automated cleanup job as soon as the PR is merged as well? Or would we tidy up the PR images from time to time ourselves?
* Thats a very good idea, this way we would also test the vcluster cli as well.

We can have a separate package such as ghcr.io/loft-sh/vcluster-dev for PR bu

[2022-06-09 08:10] matskiv commented on #503
@FabianKramm We would have an automated clean-up job that will trigger on PR merge.
A separate ghcr.io/loft-sh/vcluster-dev package sounds good to me.

[2022-06-09 17:30] ddl-risong-na commented on #510
This is something crucial for us. Do you have an ETA on when this will be implemented?

As always: great product!

[2022-06-10 08:34] FabianKramm commented on #510
@ddl-risong-na not yet, we are still in the concept phase here.

[2022-06-11 04:07] jaredallard commented on #510
It's worth noting we solved this problem (for restic (velero)) with https://github.com/getoutreach/vcluster-fs-syncer. Of course it's not perfect but worth pointing out :D

[2022-06-11 10:10] #528 closed

[2022-06-13 09:55] matskiv opened #532 "Support actions and conditions annotations for ALB ingress controller"
### Is your feature request related to a problem?

The [actions](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#actions) and [conditions](https://kubernetes-sigs.github.io/aws-load-balancer-controller/v2.4/guide/ingress/annotations/#conditions) ALB annotation are not working as expected for the Ingress resources that are synced to the host, where the

[2022-06-14 09:54] FabianKramm commented on #510
@ddl-risong-na yes that is expected. One way to work around this is to use a node selector inside the vcluster that only syncs nodes that fullfill the selector to the virtual cluster (see the [docs](https://www.vcluster.com/docs/architecture/nodes#node-syncing-modes) for more info). If you really want to sync all nodes to the vcluster, you need to make sure that DaemonSets mostly run on the host c

[2022-06-16 10:13] #373 closed

[2022-06-17 07:11] olljanat opened #539 "syncer generates a lot of log events"
### What happened?

We noticed that syncer is constantly generating log events these:
[code]

### What did you expect to happen?

There should be way lower logging level and get rid of these.

### How can we reproduce it (as minimally and precisely as possible)?

K8s running as non-root

### Anything else we need to know?

_No response_

### Host cluster Kubernetes version

<details>

[code]

</de

[2022-06-17 08:09] FabianKramm commented on #539
@olljanat thanks for reporting this issue! The filesystem log can be easily removed, the node updates are correct and expected I believe as vcluster will update the heartbeat in a regular interval for each node.

[2022-06-17 14:04] jamestalton opened #545 "vcluster create with both connect false and extra-values does not apply the extra values"
### What happened?

When running

A connection is not made and the extra values end up being run on the host cluster instead of the vcluster.

### What did you expect to happen?

Expected that the values would be applied to the vcluster and not the host cluster.

### How can we reproduce it (as minimally and precisely as possible)?

### Anything else we need to know?

_No response_

### Host clust

[2022-06-17 15:27] FabianKramm commented on #545
Hey @jamestalton ! Thanks for creating this issue! I'm not sure if I understand you correctly, but what do you mean with applied on the host cluster? The values should be applied to the vcluster, is there any error message you see? Make also sure to run with the flag `--upgrade` if you want to upgrade an existing vcluster.

[2022-06-17 19:05] jamestalton commented on #545
After more investigation I found that the problem is in the way I called vcluster.

should be

Thanks for the fast response. The vcluster project is awesome.

[2022-06-17 19:05] #545 closed

[2022-06-21 08:07] FabianKramm commented on #539
@olljanat is this still a problem with v0.10.1?

[2022-06-22 00:51] rhtenhove opened #550 "Exemptions in isolated mode"
### Is your feature request related to a problem?

Wanting to deploy a manifest which violates the vCluster isolated mode admission requirements. This can be anything, for example mounting a certain directory on the host.

This is possible with PodSecurity (see suggested solution). Sadly configuring this for the vCluster `kube-apiserver` doesn't have the desired effect as vCluster isolated mode ha

[2022-06-22 03:51] tekumara opened #551 "exec plugin: invalid apiVersion "client.authentication.k8s.io/v1alpha1""
### What happened?

[code]

### What did you expect to happen?

No error

### How can we reproduce it (as minimally and precisely as possible)?

Use same versions of EKS and vcluster

### Anything else we need to know?

_No response_

### Host cluster Kubernetes version

<details>

EKS v1.20

</details>

### Host cluster Kubernetes distribution

<details>

[code]

</details>

### vlcuster version

[2022-06-22 03:51] tekumara commented on #551
kubectl 0.24 ([introduced here in 0.90](https://github.com/loft-sh/vcluster/commit/a0716b6bddd490121d9acac13c90eefd673b8f45#diff-33ef32bf6c23acb95f5902d7097b7a1d5128ca061167ec0716715b0b9eeaa5f6R40)) is not compatible with EKS 1.20.

Downgrading to vcluster 0.8.1 works.

[2022-06-22 03:51] #551 closed

[2022-06-22 10:39] #522 closed

[2022-06-22 11:30] olljanat opened #553 "Helm upgrade from 0.9.0 to 0.10.1 fails"
### What happened?

vcluster upgrade with Helm from 0.9.0 to 0.10.1 fails to error:
[code]
afaiu either of those two solutions proposed on https://stackoverflow.com/a/71103145 need to be included to vcluster.

### What did you expect to happen?

That upgrade works

### How can we reproduce it (as minimally and precisely as possible)?

Deploy vcluster (k8s) with Helm to version 0.9.0
Deploy vcluste

[2022-06-22 11:33] olljanat commented on #539
Looks much better now. Thanks

[2022-06-22 11:33] #539 closed

[2022-06-22 14:06] Blackmamba23 opened #554 "Allow setting kubeconfig cluster name via the Syncer Flags directly"
### Is your feature request related to a problem?

No able to define the cluster name and context of the generated kubeconfig file directly with the Syncer flags. This is currently only possible with the cli via --kube-config-context-name

### Which solution do you suggest?

Add a Syncer flag to set the cluster name eg.

[code]

### Which alternative solutions exist?

This is currently only possib

[2022-06-23 08:04] FabianKramm commented on #554
@Blackmamba23 thanks for creating this issue! Yes we can add this to vcluster!

[2022-06-23 10:32] #553 closed

[2022-06-23 11:41] ramanNarasimhan77 opened #558 "Can host-rewrite be run as a non-root user?"
Hello,

We're having a pod that has security context set with `runAsNonRoot: true` ; when we run this pod within vcluster; the pod does not startup due to the following Error
[code]

Is it possible to run the `vcluster-rewrite-hosts` alpine container with a non-root user?

[2022-06-24 06:41] ramanNarasimhan77 commented on #558
hi @FabianKramm - The vcluster where this issue was reported was using 0.6.0.
We will retest this using a more recent version of vcluster and check if this issue is occuring.

[2022-06-24 11:43] ramanNarasimhan77 commented on #558
hi @FabianKramm - Issue does not happen when we use the latest vcluster version 0.10.2. Hence, I am closing this ticket. Thanks for the support.

[2022-06-24 11:43] #558 closed

[2022-06-24 17:41] bkc opened #560 "support completions for fish shell"
### Is your feature request related to a problem?

no

### Which solution do you suggest?

n/a

### Which alternative solutions exist?

n/a

### Additional context

kubectl and k3d  completion both support the fish shell.

would you please consider adding support for fish shell completion to vcluster?

[2022-06-26 18:59] antonioberben opened #561 "kube-config-context-name flag for vcluster create"
### Is your feature request related to a problem?

From version `0.10.x`, `connect` is by default when `vlcuster create`.

But from `0.9.1`, `connect` offers `kube-config-context-name` to customise the context for a vcluster.

That means that to customise the context name, now you have to `vlcuster create --connect=false` and then `vcluster connect --kube-config-context-name`

### Which solution d

[2022-06-27 07:37] FabianKramm commented on #560
@bkc thanks for creating this issue! Yes we can do that!

[2022-06-27 10:52] olljanat commented on #59
@FabianKramm any plans to solving this one? As far I see network policy `...-control-plane` cannot works correctly because CoreDNS pod does not have those `kubernetes.io/metadata.name: 'kube-system'` and `k8s-app: kube-dns` labels in host cluster side.

[2022-06-27 14:04] #561 closed

[2022-06-28 09:54] FabianKramm commented on #59
@olljanat this should actually work, we have an option to allow network policies to work

[2022-06-28 11:31] olljanat commented on #59
@FabianKramm that is different case. I mean those network policies which get created when isolation mode + network policy is enabled with config like:
[code]

On that case these will be deployed to host cluster and they cannot works because CoreDNS pods does not have needed labels:
https://github.com/loft-sh/vcluster/blob/40d7c65b8a016ec32a8cfc3c5a1761e0237cf8b2/charts/k8s/templates/networkpolicy.

[2022-06-29 06:12] FabianKramm commented on #59
@olljanat oh I see, this would be a different issue then. However, it should still work as the networkpolicy you referred to is the policy for the control plane (vcluster itself) that doesn't need to connect to the inner core dns and rather needs to connect to the coredns of the host cluster which almost always is in the kube-system namespace (that will get the `ubernetes.io/metadata.name: 'kube-s

[2022-06-29 07:10] mld commented on #132
I'm not familiar with the syncer internals, but for me the expected behavior would be as close to "vanilla" k8s as possible - taints are only considered when scheduling a pod, if it's already running when a taint is removed/added that would be ignored by the scheduler AFAIK.
Same goes for added/removed nodes.

[2022-06-29 08:22] #560 closed

[2022-06-29 08:56] #490 closed

[2022-06-29 10:01] #314 closed

[2022-06-29 14:28] antonioberben commented on #551
This issue remains in vcluster `0.10.2`. Can anybody offer a workaround? Downgrading vcluster cli to `0.8.1` makes us to not enjoy the new features

[2022-07-02 08:37] olljanat commented on #459
Haven't had time to test this again yet but based on want I have learned since earlier try I guess that I have just messed up with network policies, etc.

[2022-07-02 08:37] #459 closed

[2022-07-02 08:43] olljanat commented on #59
Ah, I yes that network policy just handles traffic from vcluster to host cluster and I need another one, inside of vcluster to handle traffic from kube dns to api-server.

[2022-07-03 10:03] olljanat opened #582 "Add pod name and namespace also as pod labels"
### Is your feature request related to a problem?

Currently vcluster adds pod name and namespace as annotations to pods which it creates to host cluster.

When using filebeat with [add_kubernetes_metadata](https://www.elastic.co/guide/en/beats/filebeat/current/add-kubernetes-metadata.html) in host cluster it includes  pod labels as fields to log events but not annotations and currently that canno

[2022-07-04 16:49] FabianKramm commented on #582
@olljanat thanks for creating this issue! I'm not sure if we should solve this in the scope of vcluster itself or if this might be better implemented in the context of a vcluster plugin. Especially since labels are rather restricted in terms of expressability (you have to obey RFC subdomain formats and char limits). We are also working currently on an easier way to define plugins through YAML form

[2022-07-05 20:50] #532 closed

[2022-07-05 21:01] salanki opened #583 "Truncated hostname can end up with a - which is illegal"
### What happened?

When a pod name is longer than 63 characters, and the Pod Spec doesn't have a `hostname` set, the syncer truncates the pod name into the pods hostname field, see: https://github.com/loft-sh/vcluster/blob/master/pkg/controllers/resources/pods/translate/translator.go#L200. There is however a corner-case where if the 63rd character is a `-` the truncated string is now still an inv

[2022-07-05 21:12] FabianKramm commented on #583
@salanki thanks for reporting this issue! You are correct, we need to trim the `-` in that case, good find!

[2022-07-05 22:59] #583 closed

[2022-07-06 09:36] olljanat opened #585 "Ephemeral Containers does not works with vcluster"
### What happened?

Kubernetes 1.23 graduated [ephemeral containers](https://kubernetes.io/docs/concepts/workloads/pods/ephemeral-containers/) to beta and it is enabled by default.

However I far I see `kubectl debug ...` is not able to connect to pods in vcluster but instead of it hangs forever after writing message `Defaulting debug container name to debugger-...` to log.

If I try same on host

[2022-07-06 14:34] vumdao commented on #510
I installed Elasticsearch on the host and what I got from search is following and it shows nothing related to kubernetes labels/namespace

![image](https://user-images.githubusercontent.com/37215642/177575542-33edb0cb-6841-40f1-9c02-9627f605b5b6.png)

What is a workaround for this?

[2022-07-07 14:42] dza89 opened #589 "Can't run multiple etcd instances on EKS"
### What happened?

I can't run multiple etcd instances because the source ip is checked and is not configured in the certs for etcd.

`kubectl logs vcluster-etcd-0`

`rejected connection from "10.235.245.27:60200" (error "tls: \"10.235.245.27\" does not match any of DNSNames [\"localhost\" \"vcluster-api\" \"vcluster-etcd\" \"vcluster-etcd-0\" \"vcluster-etcd-0.vcluster-etcd-headless\" \"vcluster

[2022-07-07 17:45] FabianKramm commented on #585
@olljanat thanks for reporting this issue! Yes we are currently not propagating changes to ephemeral containers to the host cluster. We'll fix that in the next release

[2022-07-07 17:48] FabianKramm commented on #589
@dza89 thanks for creating this issue! What values have you used to create the vcluster?

[2022-07-08 09:52] dza89 commented on #589
[code]

[2022-07-08 15:10] Marwennnne commented on #468
@pratikjagrut Hi, I have the same problem with aws load balancer controller

[2022-07-08 15:21] Marwennnne commented on #468
@pratikjagrut I can provide you with all the information you need

[2022-07-08 19:05] FabianKramm commented on #589
@dza89 thanks for the values! The exact same configuration is working for me. Have you maybe started the vcluster with less replicas and then scaled those up?

[2022-07-09 07:29] dza89 commented on #589
@FabianKramm

I did, and I thought the same so I also rolled it out with 3 as well with the same error.
Are you rebuilding those certificates every time a new pod comes up?

[2022-07-11 02:08] viv-codes opened #591 "vcluster remains in pending after creation, then enters CrashLoopBackOff"
### What happened?

After creating a vcluster using `vcluster create csh-vcluster-01 --debug`, the setup process hangs here until the command times out:
[code]
Error messages are not verbose enough for me to figure out what exactly causes this to hang. Once this process is either interrupted via keyboard interrupt or by letting it time out, the following is visible when the command `vcluster list`

[2022-07-11 02:20] viv-codes commented on #591
Additional information:
Eventually the pods in the vcluster will all go from `Running`, with only the api pod on `Error`, to the following statuses:
[code]
Inspecting the logs of the offending api pod reveals the following:
[code]

[2022-07-11 02:29] viv-codes commented on #591
Additional information:
Upon rebooting k8s-ctrl01-nrh, the following occurs:
[code]

[2022-07-12 13:05] lioncubs opened #593 "Add the ability to Service Sync to Sync the NodePort - random (as from vcluster) & static"
### Is your feature request related to a problem?

When transfering our Controller into a vCluster implementation, so far all looks Great and is working as we wish.

However, there are various scenarios where we wish for the Service to be available outside the cluster (mapServices sort of does that) - but we in various scenarios (dev scenarios) we are exposing the services as a NodePort type - For

[2022-07-12 17:37] vumdao opened #594 "ELK does not work as expected in host cluster"
### What happened?

I installed Elasticsearch on the host and what I got from search is following and it shows nothing related to kubernetes labels/namespace
![image](https://user-images.githubusercontent.com/37215642/178556455-b951bce8-c16b-4105-b37d-3175c5fae940.png)

Here is labels and annotations of a pod
[code]

but the search result is nothing
![image](https://user-images.githubusercontent.c

[2022-07-13 08:48] matskiv commented on #594
Closing since this is about the ELK instance installed in the host cluster. We can reopen if some evidence of vcluster being the root cause is provided.

[2022-07-13 08:48] #594 closed

[2022-07-13 08:55] matskiv commented on #591
Hello @viv-codes
thank you for reporting the issue.
The etcd seems to be the problem here, and all other pods fail because they depend on it.
Are you able to provide logs from the `csh-vcluster-01-etcd-0` pod and related events, please?

Also, are you using any additional flags or value values with the `vcluster create csh-vcluster-01 --debug` command? If yes, could you please share those as well?

[2022-07-13 11:24] matskiv commented on #468
@Marwennnne and/or @ksingh7 are you able to provide logs from the vcluster pod? Both "syncer" and "vcluster" containers. Ideally delete the pod, wait until it comes up, reproduce the issue with kubectl get, and capture all logs of the container.

[2022-07-13 12:30] viv-codes commented on #591
Thanks for the help! I do not run `vcluster create` with additional args. Last night when I was debugging DNS (and determined that it wasn't an issue), I had restarted my vclusters, and now they seem to be having trouble with their initial deployment, and getting the minimum number of replicants:
[code]
I ran it again, and I got this log:
[code]

[2022-07-13 14:08] matskiv commented on #591
Ok, so the issue is with the PersistentColumeClaim. You need to manually create a persistent volume that would fulfill the requirements of the PVC, or better yet, have a volume provider installed which will create volumes on demand. But further advice on this depends on where/how you are running your host cluster, and that is out of the scope of vcluster anyway.

Additional info on PVC created by

[2022-07-13 14:09] viv-codes commented on #591
Ok awesome, thanks. I'm talking with my group about possibly using longhorn for our storage, but since this is a teaching cluster, I mght just use the folder option

[2022-07-13 14:10] viv-codes commented on #591
I'm going to close this issue. Thanks for the help, I really appreciate it

[2022-07-13 14:10] #591 closed

[2022-07-13 14:20] FrankAnk opened #595 "Unauthorized when accessing vcluster via Ingress without SSL-Passthrough"
### What happened?

I created a vcluster (with extraArgs "tls-san" and "out-kube-config-server") and also setup an Ingress without SSL-Passthrough, then used the "vcluster connect ... --server=https://myvcluster.vcluster.itservices.tank.local --service-account=developer --cluster-role=cluster-admin --update-current=false

When i try to access the cluster with "kubectl --kube-config ./kubeconfig.ya

[2022-07-13 15:14] matskiv opened #596 "Display versioned documentation on the website"
### Is your feature request related to a problem?

Documentation on the vcluster.com website sometimes refers to features that are not released in a stable release yet.
Also, when facing a problem with the previous version, or just when using the previous version, newer documentation can be inapplicable.

### Which solution do you suggest?

A dropdown to select the vcluster version on the docs pag

[2022-07-14 06:23] LukasGentele commented on #596
Should not be done before v1 or actually V2 tbh. Too many versions don't scale well and are just confusing.

[2022-07-14 08:51] ishankhare07 opened #598 "fragments/deploy-vcluster.mdx does not render the kubectl section properly"
### What happened?

This is related to the website / docs pointed by the URL - https://www.vcluster.com/docs/getting-started/deployment

The `kubectl` installation tab doesn't render the code block properly (see attached screenshot)
![Uploading Screenshot 2022-07-14 at 2.12.19 PM.png…]()

### What did you expect to happen?

Should be rendered as other tabs `vcluster` and `helm` render the code blo

[2022-07-16 07:53] ddl-risong-na opened #600 "Persistent Volume Reclaim Policy does not work"
### What happened?

There are a few issues around persistent volumes. Here is what I did

 1. Create an EKS cluster
 2. Create ebs csi driver on the host cluster
 3. Create a vcluster and connect to it
 4. Create a storage class using ebs (The storage class can be on the host cluster or vcluster. I've tested both scenarios and the result is identical). The Reclaim Policy is `Retain`
 5. Create a P

[2022-07-19 01:09] FabianKramm commented on #589
@dza89 I see! Since the certificate job is only run on install, the updated tls sans won't be regenerated. You would need to either create the job yourself or regenerate those on your own and exchange the secret then.

[2022-07-19 01:21] FabianKramm commented on #596
Yes, I'll close this for now

[2022-07-19 01:21] #596 closed

[2022-07-19 03:10] FabianKramm opened #604 "Permission denied warning in k3s with rootless mode"
Currently k3s will print the following warning when used with rootless mode, we might need to add a writable volume mount to make the warning disappear:
[code]

[2022-07-19 03:18] FabianKramm commented on #593
@lioncubs thanks for creating this issue! Sorry for the late response, I see the use case, but shouldn't this work already as the nodeport service is synced from the virtual cluster anyways with the correct node port? So accessing that should work as expected from the outside. Inside the cluster you could just use the cluster ip service. Or do you need to find out the node port from the service ob

[2022-07-19 03:21] FabianKramm commented on #595
@FrankAnk thanks for creating this issue! Mhh seems like this is a problem with the audiences we generate for the token. Not sure if we can fix that for v1.18, but we will investigate.

[2022-07-19 03:23] FabianKramm commented on #600
@ddl-risong-na thanks for creating this issue! Mhh yeah we might need to handle `Retain` persistent volumes differently.

[2022-07-19 11:18] matskiv commented on #593
@FabianKramm This doesn't work because we are stripping node ports when creating the service in the host cluster:
https://github.com/loft-sh/vcluster/blob/dd100268ef878b96008e0474de0b65642c63bec5/pkg/server/filters/service.go#L213
and also when syncing:
https://github.com/loft-sh/vcluster/blob/dd100268ef878b96008e0474de0b65642c63bec5/pkg/controllers/resources/services/translate.go#L28

I was unsur

[2022-07-19 16:43] matskiv opened #606 "Add Helm value for .spec.loadBalancerSourceRanges field of the vcluster Service"
### Is your feature request related to a problem?

When using Service of the LoadBalancer type, a user might need to set .spec.loadBalancerSourceRanges value on the Service resource in order to secure the cluster.

### Which solution do you suggest?

Add Helm value under the `service` [field](https://github.com/loft-sh/vcluster/blob/a5036e970ece4ec26a4a853f770b7c64a82ae887/charts/k3s/values.yaml#L

[2022-07-19 18:13] matskiv opened #609 "Service label selectors are synced incorrectly"
### What happened?

An issue was reported in community Slack - https://loft-sh.slack.com/archives/C01N273CF4P/p1658039271686849

After reproducing the issue I noticed a mismatch between label selectors of a Service that is synced to the host and the labels of a pod that is synced to the host.

### What did you expect to happen?

Correct label selectors being present in the Service that is synced t

[2022-07-19 21:38] #593 closed

[2022-07-20 08:43] Noamstrauss opened #611 "Syncer Service account not found"
### What happened?

I am trying to assume a role in aws with annotations in the service account, so i added this syncer config
[code]
but then i get this error in each pod:
`Error syncing to physical cluster: pods "cert-manager-7d5dc9bf65-7frh7-x-cert-manager-x-vault" is forbidden: error looking up service account vcluster-vault-qaubp/boot-vault: serviceaccount "boot-vault" not found (SyncError)`

[2022-07-20 11:46] matskiv opened #612 "The number of allocatable pods is synced incorrectly when scheduler is enabled"
### What happened?

vcluster internal scheduler has been repeatedly scheduling a pod to a node that reached the allocatable limit of running pods in the host cluster. The synced pod was not able to be started on the chosen node. This caused the pod to be recreated continuously.

This seems to also affect a cluster auto-scaler if it is installed in vcluster.

### What did you expect to happen?

vcl

[2022-07-20 14:13] skhota opened #613 "Error: failed pre-install:timed out waiting for condition"
### What happened?

New install of Vcluster fails/times out. Pl. see the attached logs. We have a successful install in the same VM/RHEL 7 host. But something happened last month and is not allowing us to create a new Vcluster.

### What did you expect to happen?

Should have a new cluster created.

### How can we reproduce it (as minimally and precisely as possible)?

Tried to create a new Vclust

[2022-07-20 14:15] matskiv commented on #611
I was able to reproduce the error when service account does not exist. After that, I created the service account but the pod was not synced to the host simply immediately. I restarted the syncer process (syncer container in vcluster, or just whole vcluster pod would work too), and then it all worked as expected.
Perhaps there is a timing issue? Have you created the ServiceAccount after creating a

[2022-07-20 15:15] skhota commented on #613
Can you check if the vc10-1-jobKubernetes Job reported a successful status?

Ans: The status of the job is in vcluster-log.pdf attached in the ticket.

Thanks,
Susanta Hota.

________________________________
From: Oleg Matskiv ***@***.***>
Sent: Wednesday, July 20, 2022 9:53 AM
To: loft-sh/vcluster ***@***.***>
Cc: skhota ***@***.***>; Mention ***@***.***>
Subject: Re: [loft-sh/vcluster] Error: fa

[2022-07-20 16:42] #606 closed

[2022-07-20 17:47] matskiv commented on #613
If you can reproduce pre-install error issue, please try installing vcluster with helm ([see "helm" tab in this doc](https://www.vcluster.com/docs/getting-started/deployment)) and run helm install it with `--debug` flag. If the issue is reproduced please attach logs as a text file or a link to a gist.

[2022-07-20 19:32] #609 closed

[2022-07-21 14:30] Noamstrauss commented on #611
@matskiv yes i have created this service account in the vcluster & in the physical cluster.
**vcluster:**
`Name:                boot-vault
Namespace:           default
Labels:              <none>
Annotations:         eks.amazonaws.com/role-arn: arn:aws:iam::<account-number>:role/vault
Image pull secrets:  <none>
Mountable secrets:   boot-vault-token-75dqd
Tokens:              boot-vault-token-75dq

[2022-07-21 14:50] skhota commented on #613
Pl. see the attached for the helm debug log
[Helm-debug-log.pdf](https://github.com/loft-sh/vcluster/files/9160311/Helm-debug-log.pdf)
s

[2022-07-21 15:00] matskiv commented on #611
@Noamstrauss This service account needs to be created in the host cluster only. But it needs to be created in the namespace where you vcluster is running (`vcluster-vault-g5382` right?), but your information posted above shows that it is created in the default namespace.

[2022-07-21 15:17] Noamstrauss commented on #611
@matskiv yes , ok i just created this service account in this namespace. but there is no service account in the vcluster `vault`

[2022-07-21 15:43] matskiv commented on #611
The `--service-account` flag does not do any ServiceAccount creation in the vcluster. It only set the ServiceAccount which will be used to run the "synced" pods in the host cluster. But the pods inside vcluster will be using service account defined in the pod spec inside of the vcluster. And the pods will have the kubernetes service account token from the vcluster.

If you use the `--service-accou

[2022-07-21 17:56] matskiv opened #616 "Add docs about best practices for using cluster-autoscaler in conjunction with vcluster"
### Is your feature request related to a problem?

From the resource utilization POV the cluster-autoscaler is a complementary project to vcluster. It would be useful to provide users with documented best practices about using it in conjunction with vcluster.
This is especially interesting if the users are separating vclusters to separate nodes, that have separate node autoscaler groups.

### Whic

[2022-07-21 18:03] matskiv opened #617 "Prevent scale down of a node where vcluster is running"
### Is your feature request related to a problem?

If [cluster-autoscaler](https://github.com/kubernetes/autoscaler) is installed inside the vcluster, and vcluster is not running in a highly available configuration, the autoscaler may decide to scale down the node that hosts vcluster pod and thus cause a downtime of the vcluster API server proxy and syncer.

### Which solution do you suggest?

Whe

[2022-07-21 18:18] matskiv commented on #613
Unfortunately, you can not run helm by copying the command that was printed by vcluster.
Please follow the instructions on the helm tab on this docs page to run it correctly - https://www.vcluster.com/docs/getting-started/deployment

[2022-07-22 13:40] skhota commented on #613
I am running into the below error when trying to run the command, can you help. Not sure whats wrong I'm doing:
helm upgrade --install skh-1 \
--values vcluster1/vcluster/charts/k8s/vcluster.yaml \
--repo vcluster1/vcluster/charts/k8s/ \
--namespace vc-test \
--repository-config=''
Release "skh-1" does not exist. Installing it now.
Error: failed to download "" (hint: running `helm repo update` may

[2022-07-22 13:43] skhota commented on #613
Also tried this command:
helm upgrade --install skh-1 --values vcluster1/vcluster/charts/k8s/vcluster.yaml --repo vcluster1/vcluster/charts/k8s/ --namespace vc-test --repository-config=''
Error: "helm upgrade" requires 2 arguments
Not sure whats wrong.

[2022-07-22 16:07] FabianKramm commented on #613
@skhota try running:
[code]

Also make sure there is no folder / file called helm inside the directory you run this command

[2022-07-22 18:15] #585 closed

[2022-07-22 21:16] donmstewart opened #619 "Issue Syncing Readiness Conditions"
### What happened?

We have pods with custom readiness gates/conditions.

The pod in the vcluster updates the gates correctly but then reverts immediately and the gates are no longer present.

### What did you expect to happen?

The radiness gates/conditions are set on the vcluster pods and they sync down to the hostcluster pod and remain in place.

### How can we reproduce it (as minimally and pr

[2022-07-24 07:12] tekumara commented on #551
Thanks for the tip @antonioberben updating kubeconfig like this:
[code]
solved it for me, and works with vcluster 0.10.2.

[2022-07-24 07:14] tekumara commented on #551
Thanks for the tip @antonioberben. [aws-cli moved to v1beta1](https://github.com/aws/aws-cli/blob/v2/CHANGELOG.rst#L163) in v2.7.0 (14 May) so upgrading aws-cli and updating kubeconfig like this:
[code]
solved it for me, and works with vcluster 0.10.2. 🥳

[2022-07-24 09:17] tekumara opened #620 "Cannot create kubeconfig file instead of updating the current one"
### What happened?

The `--kube-config` arg seems to be ignored and the current kubeconfig is updated anyway:
[code]

With `--update-current false` nothing at all seems to happen:
[code]

### What did you expect to happen?

The _~/.kube/vcluster.yaml_ file was created instead of updating the current kubeconfig file.

### How can we reproduce it (as minimally and precisely as possible)?

See above

[2022-07-24 09:18] tekumara commented on #620
Ah, looks like I was doing it wrong!

This works:
[code]

[2022-07-24 09:18] #620 closed

[2022-07-24 21:03] lknite commented on #468
I'm seeing similar:
[code]

In my case, I jumped to using the vcluster-k8s values file deploying my cluster with (via argocd):
[code]

Everything starts up as expected.  I can use 'vcluster connect vc-non' and then run commands from another shell.  With my annotations I also get:
- an ingress to use with connecting to the vcluster
- valid certificates for the ingress (though the ingress generated

[2022-07-24 21:34] lknite commented on #468
Ok, I re-read the instructions and added '--enable-ssl-passthrough=true' to my nginx-controller and now everything is working perfectly.  Recommend the original poster give that a try if they haven't already.

[2022-07-24 22:29] lknite opened #621 "Unable to deploy storageClass: democratic-csi-iscsi-controller"
### What happened?

Truenas provides kubernetes storageclasses to interact with its product.

I've been using the iscsi storageClass without issue for several months now.

Recently I decided to start using vcluster.  I spun up a couple vclusters and everything is working great.  I added the clusters to my global configurations (argocd), which installs addons common to all my clusters, including th

[2022-07-25 10:15] matskiv commented on #621
Hello @lknite
I am not sure what's wrong with the democratic-csi-iscsi-controller in this case.

Usually, you would install CSI controller only in the host cluster, but not in the vcluster. And in vcluster you would create only the StorageClass resource, and if it differs from StorageClasses in the host, then you would need to enable storageclasses sync [as described in the docs](https://www.vclus

[2022-07-25 15:13] FabianKramm commented on #619
@donmstewart thanks for creating this issue! Yes, this seems like a problem currently. We can add a special case for those conditions in the pod syncer.

[2022-07-25 15:19] #604 closed

[2022-07-25 19:10] donmstewart commented on #619
Thank you.

[2022-07-26 02:58] lknite commented on #621
Thank you.  This is what I was looking for, the way things should work.  At the moment I still need to use a flexvolume so I think I am stuck with using the legacy-storageclasses.  Need to think my setup so I can align more with how things are intended to be used.

Thank you!

[2022-07-26 02:58] #621 closed

[2022-07-26 14:03] calvinroyston opened #625 "vcluster api version upgrade feature required."
What ?

Option to update vcluster api version in an existing vcluster.

Why?

vcluster has option of choosing k3s/k0s/k8s api during cluster creation but an option to upgrade the api version can be useful which also takes care of updating fake nodes' kubelet endpoint version.

Thoughts:

Updating the below field is updating the control plane but not worker node kubelet version( fake nodes )

vclus

[2022-07-26 14:06] matskiv commented on #625
It doesn't simulate that version. The actual node kubelet version depends on the host cluster version.

[2022-07-26 15:34] skhota commented on #613
Pl. see the attached for the Helm debug logs:
[Helm-debug-logs.pdf](https://github.com/loft-sh/vcluster/files/9191168/Helm-debug-logs.pdf)

[2022-07-27 06:11] calvinroyston commented on #625
running "kubectl get nodes" on the vcluster shows node  version numbers same as the K3s api version. Is this a bug ?

[2022-07-27 07:29] matskiv commented on #625
I don't think that's a bug. I can see an argument for having that version match host cluster version, but also I can see an argument for current behavior. But I would guess it doesn't make any practical impact either way. Or is there some application that behaves differently based on kubelet version?

[2022-07-27 08:08] calvinroyston commented on #625
No I haven't found any application which behaves differently but was curious to know why it shows k3s api versions in place of kubelet versions. I noticed this when i tried upgrading the control plane with different k3s version but the nodes stayed on displaying old k3s api version.

Is there a key in values.yaml which can change this behavior so that we can always see host cluster kubelet version

[2022-07-27 08:19] matskiv commented on #625
I suspect some controller in k3s is setting this value in the status. When using k8s or k0s distro of vcluster you might see some different results too.

No, there is no feature like that.

[2022-07-27 15:41] lknite commented on #621
To avoid making any assumptions.  If I'm hearing correctly, preferably, I would install my democractic iscsi csi, then setup my vcluster without any storageclass sync.  I would then go back to my host cluster and do 'k get storageclass iscsi-csi -o yaml >sc.yaml', then switch to my vcluster and 'k apply -f sc.yaml'.  Yes?

And, if that doesn't work then can try those other options.

[2022-07-27 16:22] #612 closed

[2022-07-27 16:47] matskiv commented on #621
@lknite yes, that should work :).
Also, as far as I remember, if you are not syncing StorageClasses from virtual to host then the spec, labels, annotations, etc. of the StorageClasses in vcluster are not important, and are affectively ignored. A StorageClass just needs to exist with the same name as one in the host cluster.
Also, if you want to automate this, you can put your `sc.yaml` into `value

[2022-07-27 17:07] lknite commented on #621
Thank you for the tip to add the sc.yaml to the values.yaml, that's what I need to do.  Thanks again!

[2022-07-27 20:57] #619 closed

[2022-07-28 10:51] vishnu-chegondi commented on #611
Hi @matskiv , I am using service account sync to sync service accounts from virtual cluster to host. I see tokens are getting attached to host pod yaml. But when I see virtual cluster pod I see no token is getting mounted.

I have also seen the vcluster docs the below lines at the page
https://www.vcluster.com/docs/what-are-virtual-clusters.
`
Service account tokens, environment variables, DNS and

[2022-07-28 11:06] matskiv commented on #611
@vishnu-chegondi

What do you mean by this? If you get a pod with `kubectl get pod` in vcluster context, and you don't see the extra mounts for the token, then it is correct behavior. If you exec into a pod and there is no `/var/run/secrets/kubernetes.io/serviceaccount/token` file, then it sounds like an issue.

If you mean the ServiceAccount token from the host cluster then yes, that one is not m

[2022-07-28 13:06] skhota commented on #613
Hello, Can someone please help me on this issue.

[2022-07-28 17:14] FabianKramm commented on #613
@skhota mhh the logs look good, weird that the helm command times out even though the job is completed. What helm version do you have installed? You maybe need to upgrade helm itself. Also what happens if you increase the timeout to `--timeout 10m`? Besides that have you tried to use another distribution like k3s (just do `vcluster create my-vcluster`) or is there a specific reason you want to use

[2022-07-28 19:32] skhota commented on #613
I have installed successfully vcluster in the same environment in the past, not sure why its giving me this issue. K8s is the chosen distribution for our production. I can try upgrade Helm and test the install as you have asked. Will try increase the timeout to 10m and see what happens. Is there any other testing we can do to debug. What should happen in the next step after the job part runs succe

[2022-07-29 14:37] skhota commented on #613
Hi, I tried different Helm version but no change same issue. Can someone help.

[2022-07-29 14:53] der-ali opened #632 "pv is not binding to pod"
### What happened?

I want to test a csi-driver on the vcluster.
I did the following:
- created a vcluster with persistentvolumes and storageclasses enabled.
- deployed the csi-driver and created the storage class
- created a satefulset wich uses the storage class
- pv bound successfully to the pvc

### What did you expect to happen?

The pod gets created and the pv is bount to the pod,
but the po

[2022-07-30 16:32] #611 closed

[2022-07-31 14:01] lioncubs commented on #593
I'll try to give this a try in the next couple of days - thanks for the quick turn-around

[2022-08-01 14:12] skhota commented on #613
Anyone who can help me on this please.

[2022-08-01 15:54] FabianKramm commented on #613
@skhota if the job runs through correctly, helm should deploy vcluster itself, can you deploy vcluster correctly into a different cluster or does it fail in all of them?

[2022-08-01 16:54] FabianKramm opened #637 "Update k3s, k0s & k8s versions"
We should update the k0s, k3s & k8s versions for v1.21, v1.22, v1.23 & v1.24 [here](https://github.com/loft-sh/vcluster/tree/main/pkg/helm/values)

[2022-08-01 17:52] rahulii commented on #637
Hey @FabianKramm , do you mean add a new map entry for the offical images? for eg: https://github.com/loft-sh/vcluster/blob/main/pkg/helm/values/k0s.go#L10 here for 1.21 and 1.24 ?

[2022-08-02 07:06] neogopher commented on #276
Hi @FabianKramm ,

Does this behaviour occur in specific scenarios only or in general. I tried it at my end, but wasn't able to replicate this observation. Would like to give this a try.

[2022-08-02 09:33] matskiv commented on #416
There could be an alternative solution - when particular toleration is enforced by vcluster, then the nodes synced by vcluster should have the taints modified based on the enforced toleration.
So `--enforce-toleration=key1=value1:NoSchedule` would mean that `key1=value1:NoSchedule` taint would not be synced to the virtual node in vcluster.
@FabianKramm wdyt?

[2022-08-02 10:04] mabhi commented on #632
Hello @der-ali,
wanted to contribute on this issue and based on its open state, I was planning to analyse and work on it. Do let me know, if this issue can be taken up if unassigned.

[2022-08-02 10:39] der-ali commented on #632
Hi @mabhi, i took a look at it today and it turned out it was an issue on my side. The csi driver was misconfigured, but  i wasn't getting an event in this regard.

[2022-08-02 10:39] #632 closed

[2022-08-02 11:15] martinnirtl commented on #416
Hey @matskiv!
from my point of view, this would be the most elegant solution for the use case and actually kind of completing the --enforce-toleration feature. also, it would eliminate the need of mutations from within the vcluster..

[2022-08-02 16:40] FabianKramm commented on #637
@rahulii yes exactly as well as bumping the existing images to their latest versions.

[2022-08-02 21:17] ddl-risong-na opened #642 "`vcluster list --output json` does not export `AgeSeconds` or `Age` anymore"
### What happened?

`vcluster list --output json` in v0.9.0 used to export `AgeSeconds`, but now in version v0.10.2 it's gone, though `Age` is still part of `vcluster list`. We use `Age`/`AgeSeconds` to clean up "old" vclusters periodically.
![image](https://user-images.githubusercontent.com/98498946/182474470-d7a69945-765f-4b8f-be2f-4c4fed8a35e0.png)

### What did you expect to happen?

`vcluster

[2022-08-03 05:33] rahulii commented on #637
/assign

[2022-08-03 08:36] maheshbaliga commented on #600
Hi, @matskiv. As discussed kindly reassign this issue to me. Thanks in advance.

[2022-08-03 16:57] matskiv opened #643 "Docs: create a page describing vcluster use cases"
### Is your feature request related to a problem?

People that have just discovered the project might be wondering how exactly can it be useful. I think we have a big number of use cases, and it would be useful to describe them.

### Which solution do you suggest?

A page in the docs. If a particular use case will require the user to enable some non-default features, or to make some configuration

[2022-08-03 17:11] matskiv commented on #386
Closing as this seems to be solved now. Feel free to reopen and update the issue if I misunderstood.

[2022-08-03 17:11] #386 closed

[2022-08-03 17:47] sandeep540 commented on #510
@FabianKramm are you looking at vcluster plug-in to solve this? Can I take a stab at it? If you can give more details it would be great

[2022-08-03 17:49] neogopher commented on #416
Hi @FabianKramm and @matskiv,

I would like to work on this issue. Can you please assign it to me.

Thanks

[2022-08-03 19:17] FabianKramm commented on #642
@ddl-risong-na thanks for creating this issue! You are correct, seems like we have missed this in our release notes. However, since created provides the same information just in another format, we would rather prefer to leave the age seconds out in future as well.

[2022-08-04 02:35] mabhi commented on #632
Hello Oleg,
Sure would like to contribute. I am also scanning issues, but it would be really helpful if you can sort some of the issues which I can start analysing. Do let me know, I can assign it to myself and start working. I checked the link just as I speak but it is empty now.
As suggested I have joined the slack channel, keeping eye.

[2022-08-04 11:14] guettli opened #644 "`devspace run dev` fails with "error: unauthorized:" while pushing image"
### What happened?

I want to set up the develoment environment with devspace for the first time.

I followed the text in CONRIBUTING.md

[code]

[code]

[code]

### What did you expect to happen?

I expected

### How can we reproduce it (as minimally and precisely as possible)?

see above

### Anything else we need to know?

_No response_

### Host cluster Kubernetes version

<details>

[code]

<

[2022-08-04 16:51] carlmontanari opened #646 "informational: k3s and nfs(or just slow?) storage"
### What happened?

When deploying a k3s vcluster into a host cluster that is running nfs as the default storage class ([https://github.com/kubernetes-csi/csi-driver-nfs](https://github.com/kubernetes-csi/csi-driver-nfs) in my case), the vcluster will fail to come up.

Inspecting the vcluster logs shows many messages similar to:

[code]

note that the above logs *may* be benign (see [here](https:/

[2022-08-04 19:22] guettli commented on #644
I tried it with a different linux-user on my laptop, and now it works. This time my minikube cluster did not use a profile.

Maybe it is related to the `-p` option to minikube?

[2022-08-04 19:28] guettli commented on #644
I guess it is related to [skip push for local clusters](https://devspace.sh/docs/5.x/configuration/images/basics#skip-push-local-clusters)

[2022-08-04 19:46] guettli commented on #644
Found it. The name of the kube-context is important:

https://devspace.sh/docs/5.x/configuration/images/docker#preferminikube

[2022-08-04 20:04] #644 closed

[2022-08-04 20:15] matskiv commented on #644
@guettli you are correct :+1: :)
I only had this problem when using minikube with `-p` option.

Also, there is no push option for KinD. In vclusters devspace.yaml we have a profile called "kind-load", which loads the built image into your KinD cluster. To use it you just add `-p kind-load` flag to the devspace commands. Perhaps `--skip-push` is also required, but I don't remember for sure.

[2022-08-04 22:16] ddl-risong-na commented on #642
We use `jq` to parse the output, which cannot parse format like `2021-01-01T02:00:00+02:00`, but only `2021-01-01T02:00:00Z`

[2022-08-05 06:06] ddl-risong-na commented on #642
Apparently the output on linux is different from macos. On linux the format for `Created` is `2021-01-01T02:00:00Z` while on macos it is `2021-01-01T02:00:00+02:00`

I managed to make it work on linux with this
[code]

But I would sincerely ask for adding `AgeSeconds` back as it's easier to use. Or at least make the format of `Created` consistently between linux and macos

[2022-08-05 14:49] guettli opened #647 ""go build ... signal: killed" while starting vcluster via devspace like explained in CONTRIBUTING.md"
### What happened?

I installed vcluster like explained in `CONTRIBUTING.md` in minikube, then:

[code]

Here the details of the installation process

<details>

[code]
</details>

### What did you expect to happen?

I expected to see vcluster starting

### How can we reproduce it (as minimally and precisely as possible)?

Use a new minikube, then run the commands like above.

### Anything else we

[2022-08-05 14:56] guettli commented on #647
Strange, some minutes later I run the same command again, and it worked:

[code]

Is there a reason why this failed at the first time?

I leave this issue open, feedback is welcome.

[2022-08-05 15:13] christiaangoossens opened #648 "Emptydir /run/k0s creates issues for k0s"
### What happened?

After the upgrade from 0.10.2 to 0.11.0, k0s won't start anymore with the following error log:

[code]

Comparing to an older statefulset, the new one has an emptyDir connected to /run/k0s, while the old one does not. This causes a directory to be created with the wrong chmod.

### What did you expect to happen?

vcluster container should just start

### How can we reproduce it

[2022-08-05 15:14] christiaangoossens commented on #648
Removing this emptyDir solves the issue temporarily, until a new upgrade is done with the vcluster cli.

[2022-08-05 16:00] matskiv commented on #647
I just bumped into the same issue for the first time ever(in like 9 month of vcluster development with devspace).
It also got resolved by re-running. No idea what is causing this.
[code]

[2022-08-05 16:03] FabianKramm commented on #648
@christiaangoossens thanks for reporting this issue! We were adding the empty dir because it caused problems in conjunction with rootless, we'll definitely check the problem though and fix it for the next version.

[2022-08-05 16:52] christiaangoossens commented on #648
This occurs on both new and upgraded clusters with 0.11.0, I tested that a minute ago.

[2022-08-05 23:05] jandress opened #650 "Unexpected/inconsistent port forward on vcluster creation"
### What happened?

Some interesting vcluster weirdness today. At first, I thought this was something in one of my configs that I had sideways, but this is two snippets from a scripted vcluster creation one right after the other with no changes made to anything.

The first run:
[code]
And the second run:
[code]

### What did you expect to happen?

I'm using nodeport for this, so I do not expect to

[2022-08-06 13:11] guettli commented on #647
@matskiv I use devspace 5.x version. Do you think it makes sense for someone new to devspace and vcluster to use devspace 6.x (which is currently in beta)?

[2022-08-06 19:48] vysr2939 commented on #128
Is there any update on this issue? I am facing facing exactly the same error when when installing kubevirt on vcluster-k8s

Kubevirt version: v0.55
vcluster version: 0.11.0

It seems like kubevirt cotrollers comes up fine on vcluster, post which if we try to create kind:VirtualMachineInstance
or kind:VirtualMachine facing following error

virt-laucher-pod moves to error state
root@setup-a-edge-1:~

[2022-08-06 21:15] matskiv commented on #647
@guettli I don't think it matters if you use devspace 5.x or 6.x at the moment. Currently, devspace.yaml uses configuration version that is supported by both 5.x and 6.x.
I happen to be using devspace version 6.0.0-alpha.11. The 6.x beta is working well, and it is going to be promoted to 6.0.0 pretty soon.

[2022-08-07 03:11] lknite opened #651 "add on-prem ca-bundle via helm chart"
### Is your feature request related to a problem?

Unable to pull images from my on-prem harbor instance.  Says invalid certificate.

### Which solution do you suggest?

Depending on technology used behind the scene, java, python, linux distribution, other, the location where a ca-bundle needs to be installed varies.  If this were an option within the helm chart, then the ca-bundle could be specif

[2022-08-07 10:57] guettli opened #652 "Error from server (Forbidden): namespaces is forbidden: User "system:serviceaccount:vcluster:default" cannot list resource "namespaces" in API group "" at the cluster scope"
### What happened?

I am following the docs from CONTRIBUTING.md

Listing the namespaces, as suggested in CONTRIBUTING fails.

[code]

[code]

### What did you expect to happen?

According to CONTRIBUTING.md getting the namespaces should work.

From the docs:
[code]

### How can we reproduce it (as minimally and precisely as possible)?

I am unsure if it if only on my machine, but maybe following

[2022-08-07 14:27] #651 closed

[2022-08-07 14:28] lknite commented on #651
not needed, just install the ca-bundle in the host cluster

[2022-08-07 15:03] lknite opened #653 "metrics-server is not fully installing in my vclusters (applying apiservice 'v1beta1.metrics.k8s.io' is failing)"
### What happened?

Have recently been getting up to speed with vcluster, so when metrics-server didn't deploy I erased all my vclusters and redeployed them.  Then again installed metrics-server to both the root host and vclusters using a known-to-work helm chart and values.yaml file.  It works on the root host but the vclusters install everything except the apiservice.

### What did you expect to

[2022-08-08 22:26] #648 closed

[2022-08-08 22:30] FabianKramm commented on #652
@guettli thanks for reporting this issue! Yes seems like the contributing readme is out of date, instead of running kubectl inside the virtual cluster container, we rather recommend to use `vcluster connect` locally instead.

[2022-08-08 22:32] FabianKramm commented on #650
@jandress thanks for creating this issue! Seems like waiting times out which is why vcluster falls back to port-forwarding, we need a better way to determine if the vcluster is reachable there

[2022-08-08 22:34] FabianKramm commented on #653
@lknite thanks for reporting this issue! Seems like there is an issue with port-forwarding internally, which we'll investigate and fix.

[2022-08-08 22:39] jandress commented on #650
@FabianKramm in my particular case, falling back to the port forwarding hangs my script, so it is preferrable to fail out entirely rather than use port forwarding. Ideally, I'd like to see a switch to tell it to wait as long as it takes. Additionally, a warning like "something is broken, falling back to port forwarding" when not using the switch would be really handy. When I was first sorting the

[2022-08-10 09:43] ishankhare07 commented on #653
Hi @lknite , I tried reproducing this issue by 2 methods:
1. I tried installing the metrics server on a fresh vcluster using the upstream manifests privided here - https://github.com/kubernetes-sigs/metrics-server#installation
2. I also tried installation using the official helm chart provided from the artifact hub - https://artifacthub.io/packages/helm/metrics-server/metrics-server

In both the c

[2022-08-11 05:40] olljanat opened #659 "Enhance Longhorn compability"
### Is your feature request related to a problem?

I have been investigating Longhorn issue where pods was failing to write to disk because volumes was in read only mode https://github.com/longhorn/longhorn/issues/3325#issuecomment-1207912287

However now I did find out that Longhorn have already recovery logic for that situation [documentation](https://longhorn.io/docs/1.3.0/high-availability/rec

[2022-08-11 05:52] olljanat commented on #659
Just noticed that https://github.com/longhorn/longhorn-manager/blob/93063e1b3df7ca3716afef45ecb9c5ed258ce983/controller/kubernetes_pod_controller.go#L163-L185 is about different feature.

Recovery logic https://github.com/longhorn/longhorn-manager/blob/93063e1b3df7ca3716afef45ecb9c5ed258ce983/controller/kubernetes_pod_controller.go#L284-L303 should works regardless owner type so closing this one.

[2022-08-11 09:18] olljanat commented on #553
@FabianKramm @ishankhare07 unfortunately it looks that this is not completely solved yet. Example in case of deploying vcluster with K8s from Helm and then re-deploy same version again with different configuration fails even with vcluster 0.11.1.

[2022-08-11 14:22] aravindgpd commented on #128
@DanWard @FabianKramm
facing the same issue when trying to bring up kubevirt vmi pod on vcluster setup.

[2022-08-11 15:44] FabianKramm commented on #650
@jandress we released v0.11.1 yesterday which should fix this problem without a flag, would you mind testing again?

[2022-08-11 15:45] FabianKramm commented on #642
@ddl-risong-na we released v0.11.1 yesterday which should print the time in the correct linux format `2021-01-01T02:00:00Z` now

[2022-08-11 17:15] #617 closed

[2022-08-11 17:55] sgreene570 commented on #250
Friendly bump on this feature; it would be really neat and make moving workloads to vcluster easier!

[2022-08-11 20:13] jandress commented on #650
@FabianKramm I've done a bit of testing on the new release and have not seen the issue pop up again yet, even when running a set of actions which would previously surface the issue every time. I am cautiously optimistic :)

[2022-08-12 19:18] matskiv commented on #647
I had this happen with a different project, and it was caused by the OOM kill by the cgroup, because the pod had a quite low memory limit. The default memory limit for the syncer pod is 1Gi, so I doubt this would be a problem.
Below is a command to check the cause if you are using a minikube with the VM driver, but for other setups, the steps will differ.
[code]

[2022-08-13 00:19] FabianKramm opened #663 "add option to sync ingress classes"
If ingress syncing is enabled, it would be great if we could sync ingress classes as well from the host to the virtual cluster. Should work similar to legacy-storageclasses syncer.

[2022-08-16 03:29] #647 closed

[2022-08-16 11:55] aravindgpd commented on #128
virt-handler logs during the creation of vm in the vcluster

{"component":"virt-handler","level":"info","msg":"Generic Allocate: resourceName: tun","pos":"generic_device.go:244","timestamp":"2022-08-16T11:04:16.479450Z"}
{"component":"virt-handler","level":"info","msg":"Generic Allocate: request: [\u0026ContainerAllocateRequest{DevicesIDs:[tun894],}]","pos":"generic_device.go:245","timestamp":"202

[2022-08-18 06:56] moyuduo opened #669 "default storageclass in vcluster synced to host cluster"
### What happened?

hello! It seems that default storageclass will be synced to host cluster unchanged after enbale storageclass sync, this lead to a problem that serveral vcluster's default storageclass present on host cluster as default storageclass and lead host cluster's default storageclass do not worker.

### What did you expect to happen?

maybe we can mark vcluster default storeageclass as

[2022-08-18 08:22] matskiv commented on #669
Thank you for reporting this.
Yes, I agree, synced StorageClasses should have the `storageclass.kubernetes.io/is-default-class` annotation removed.

[2022-08-18 13:41] mabhi commented on #669
Hi @matskiv , Can you assign this issue to me.

[2022-08-18 13:55] matskiv commented on #669
@mabhi Done :)
Thank you! :raised_hands:

[2022-08-18 15:00] #637 closed

[2022-08-18 16:21] guettli commented on #652
@FabianKramm thank you for updating CONTRIBUTING.md. I will try the new guide.

[2022-08-18 16:21] #652 closed

[2022-08-18 19:13] richburroughs opened #673 "Bash/Zsh completions"
### Is your feature request related to a problem?

Not a problem, it's more a usability improvement.

### Which solution do you suggest?

It would be great to have Bash/Zsh tab completions for things in vcluster. I was thinking specifically about the virtual cluster names, it would be nice to be able to hit tab on those to complete them. It might be useful for more objects besides that though.

##

[2022-08-18 19:21] #416 closed

[2022-08-19 05:11] iMikeG6 opened #674 "High Availability K8S Rootless mode"
Hello,

First thing first, let me thank you for this amazing tool you guys created, it is exactly what we were looking for.
I'd like to contribute too. I know it is not officially supported but it was a requirement for us to run a high available vcluster in rootless mode. I dug into it and found some part here and there but couldn't found a real documentation that explain howto make it possible.

[2022-08-19 20:26] richburroughs opened #677 "Output from "vcluster disconnect""
### Is your feature request related to a problem?

Suggested improvement. I found it odd that there's no output when you run "vcluster disconnent". I think all of the other subcommands I've used give some kind of output when they're run.

### Which solution do you suggest?

Something indicating the disconnect succeeded, maybe also the vcluster name?

### Which alternative solutions exist?

_No res

[2022-08-20 11:48] christiaangoossens opened #678 "Status socket breaks k0s upon restart"
### What happened?

In commit https://github.com/loft-sh/vcluster/commit/61a9a2cd480b618100149c393d9858317abd4115 both /run/k0s (see my previous issue) and `--status-socket=/data/k0s/status.sock` were introduced to enable rootless mode on k0s.

However, both cause issues on restarts. Sometimes if the server shuts down improperly it will think that /data/k0s/status.sock is still in use, thus refusi

[2022-08-22 05:43] Ygshvr commented on #673
Hi @matskiv , could you please assign this to me?

[2022-08-22 06:38] sandeep540 commented on #677
Hi @richburroughs and @FabianKramm , Can you please assign it to me ?

[2022-08-22 08:14] FabianKramm commented on #674
@iMikeG6 thanks for creating this issue and the guide! So essentially you want us to use your example in the docs to make it easier for others to use HA with k8s and rootless mode? Or is there a problem with your configuration still?

[2022-08-22 08:17] iMikeG6 commented on #674
Hi @FabianKramm, thanks for your reply.

Indeed, not an issue, just a guide for those who'd like to use K8S vcluster in HA and rootless mode.

[2022-08-22 08:18] FabianKramm commented on #674
Ah great, yes thanks we can add that to our documentation!

[2022-08-22 08:20] iMikeG6 commented on #674
That'll be great.

Just hope I configured it correctly.

[2022-08-23 11:55] iMikeG6 commented on #674
Just deployed a new vcluster with the config I provided and noticed that `#fsGroup: 12345` does not apply to the api server config values.

[code]

Commented it and its good.

[code]

[2022-08-23 13:29] #677 closed

[2022-08-24 07:16] jschalz opened #689 "Add documentation for using values.yaml"
Currently there's no written explanation in Vcluster documentation for using the `values.yaml` file.

`values.yaml` is in use [in the k3s distro](https://github.com/loft-sh/vcluster/blob/main/charts/k3s/values.yaml) as an example.

[2022-08-29 11:55] #674 closed

[2022-08-30 06:00] mabhi commented on #669
Hi @matskiv, I had put my comments and observations on the slack channel against this issue. As I was unable to get any further response hence am writing here. I checked the code and found the place where the default storage class annotation is being removed explicitly before the sync of the resource to the host cluster.
The only place where the `http://storageclass.kubernetes.io/is-default-class`

[2022-08-31 10:01] matskiv commented on #669
@mabhi thank you for looking into this. Seem like no further action is needed here.
I noticed that the issue reporter uses `vcluster version 0.6.0`, and I found this commit where we started excluding the annotation - https://github.com/loft-sh/vcluster/commit/02790b2833f81a946a8a160899cdb632f3840e7c , so that explains why you were not able to reproduce the problem.

@moyuduo The issue is already f

[2022-08-31 10:01] #669 closed

[2022-09-01 09:23] sandeep540 commented on #103
@FabianKramm is this still an issue? I tried replicating the same, could not! If it's something to work on, can you please elaborate?

[2022-09-01 09:28] matskiv commented on #103
@sandeep540 Thank you for looking into this. You are right that it is not reproducible. I think it is fixed by these lines: https://github.com/loft-sh/vcluster/blob/5ad633df5a2f8841d2a935d7a6be4d7daf68a653/pkg/controllers/resources/pods/translate/translator.go#L356-L358

Closing.

[2022-09-01 09:28] #103 closed

[2022-09-01 10:54] #663 closed

[2022-09-01 19:08] sandeep540 commented on #438
@FabianKramm I am able to replicate the same, can you please assign this bug to work on!

[2022-09-02 12:06] Ygshvr commented on #589
I think we can close this issue because [scale out or in etcd clusters](https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#:~:text=A%20general%20rule%20is%20not%20to%20scale%20out%20or%20in%20etcd%20clusters.%20Do%20not%20configure%20any%20auto%20scaling%20groups%20for%20etcd%20clusters.%20It%20is%20highly%20recommended%20to%20always%20run%20a%20static%20five%2Dmember%20et

[2022-09-02 12:31] FabianKramm opened #703 "vcluster --expose not working correctly in AKS"
Seems like AKS is using some sort of ingress load balancer by default, which causes problems with vcluster create --expose

[2022-09-02 13:36] matskiv opened #704 "Init container may detect CIDR range incorrectly"
### What happened?

This was originally reported in our Slack here:
https://loft-sh.slack.com/archives/C01N273CF4P/p1657916523372759

An init container for detecting CIDR range of the Service network is writing an incorrect value into the output ConfigMap.
This feature was initially added in PR https://github.com/loft-sh/vcluster/pull/497
However `vcluster get service-cidr` CLI command is detectin

[2022-09-02 14:27] mabhi commented on #704
Hi @matskiv, Can you assign this issue to me, so i can start analysing it more, please.

[2022-09-05 10:25] justpolidor commented on #595
Hello, are you sure this is only affecting Kubernetes < 1.20? I got the same issue when using Kubernetes 1.24.1 as host cluster and Kubernetes 1.23.7-k3s1 (it was working on a cluster upgraded from 1.23 to 1.24 but on this cluster , created from scratch with Kubernetes 1.24 it's not working.)

[code]

Then I tried to add the grant to the cluster role:

[code]

But then from the syncer logs I got:

[2022-09-05 11:11] justpolidor commented on #595
Nevermind, the second issue that I got from the syncer was because ArgoCD was trying to authenticate with a wrong configuration.
At the end I just needed to add that rbac grant.

[2022-09-05 19:16] FabianKramm commented on #276
Hey @neogopher ! This is actually fixed already, hence I'll close this!

[2022-09-05 19:16] #276 closed

[2022-09-06 13:27] justpolidor opened #708 "Syncer container in CrashLoopBackoff"
### What happened?

As soon we applied a PersistentVolume, we got the

error from the syncer.

Here full logs
[code]

### What did you expect to happen?

We expected that the PV was applied in the vcluster. We can't access the vcluster right now beacuse the syncer is in crashbackoff state hence it's not responding.

### How can we reproduce it (as minimally and precisely as possible)?

This is the

[2022-09-06 14:22] iMikeG6 opened #709 "Error when coredns resources in helm values file is used"
### What happened?

When trying to set resource for coredns in the helm values, `resources` is wrongly used.

All the others vcluster componants can be set using term `resources` with something like

[code]

Except that coredns does not work as it is intended. When set, it gives the following error:

[code]

A quick look at the charts file in `charts/k8s/templates/coredns.yaml` and you can see tha

[2022-09-06 19:12] GyunCho opened #711 "Be able to configure podAnnotations for EKS Helm Chart"
### Is your feature request related to a problem?

No

### Which solution do you suggest?

Be able to set syncer.podAnnotations: {}
that will set
spec.template.metadata.annotations

I used syncer as an example, but I hope I could set podAnnotations for all pods like etcd, api, and api.

### Which alternative solutions exist?

_No response_

### Additional context

_No response_

[2022-09-07 09:39] #708 closed

[2022-09-07 16:01] #711 closed

[2022-09-07 17:10] FabianKramm opened #714 "Create globalAnnotations for eks, k8s and k0s"
Thanks to @denniskorbginski and his PR #697 we can support `globalAnnotations` for all objects created by vcluster k3s. Would be nice if we add the same option to our other charts, so that the values stay consistent across the different charts.

[2022-09-08 11:57] #709 closed

[2022-09-08 20:31] GyunCho opened #717 "Be able to configure to turn off Init Containers, vcluster-rewrite-hosts"
### Is your feature request related to a problem?

No

### Which solution do you suggest?

Be able to set something like initContainer.enabled: false in the EKS Helm Chart,
so that vcluster will not inject InitContainer, vcluster-rewrite-hosts with an image library/alpine:3.13.1,
which is not necessary for my case.

### Which alternative solutions exist?

_No response_

### Additional context

_No

[2022-09-08 21:23] GyunCho opened #718 "Be able to configure (pod) securityContext for EKS Helm Chart"
### Is your feature request related to a problem?

No

### Which solution do you suggest?

Be able to set syncer.podSecurityContext: {}
that will set
spec.template.spec.securityContext
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/#podsecuritycontext-v1-core

I used syncer as an example, but I hope I could set podAnnotations for all pods like etcd, api, api, and coredns.

Exa

[2022-09-08 21:38] GyunCho opened #719 "Be able to configure more things for coredns of EKS Helm Chart"
### Is your feature request related to a problem?

No

### Which solution do you suggest?

Currently it's not possible to configure many things for coredns of EKS Helm Chart.

Especially, it's not possible to set coredns.podAnnotations (https://github.com/loft-sh/vcluster/issues/711)
coredns.securityContext and coredns.podSecurityContext (https://github.com/loft-sh/vcluster/issues/718)

Being able

[2022-09-09 07:16] FabianKramm commented on #717
@GyunCho thanks for creating this issue! Just want to understand the reasoning behind this, are those init containers causing problems?

[2022-09-09 08:55] matskiv commented on #717
@GyunCho btw, if you don't like that particular image(or tag) for some reason, you can use this flag to re-map it to a different one:
https://github.com/loft-sh/vcluster/blob/b60c2c165197cdb2cee8919e5965d5a0161f689f/cmd/vcluster/cmd/start.go#L115
The image needs to have `sh` and `sed` !

[2022-09-09 08:57] #719 closed

[2022-09-09 09:59] Chakravarti-Baratam opened #722 "Failed to get secretproviderclass workspace-workspace-chakri-stre5/app-secrets-1"
Hi,

I am trying to setup Secrets Store CSI Driver([https://secrets-store-csi-driver.sigs.k8s.io/getting-started/installation.html#install-the-secrets-store-csi-driver](https://secrets-store-csi-driver.sigs.k8s.io/getting-started/installation.html#install-the-secrets-store-csi-driver)) and mount Vault Secrets through Container Storage Interface (CSI) Volume in the vcluster.

When a pod with secret

[2022-09-09 13:33] GyunCho commented on #718
Hi @mahendrabagul, first of all, thanks for taking care of these feature-requests quickly!

I understand that code changes will be added under #719, but it was just closed by @FabianKramm while it doesn't have syncer.podSecurityContext: {} change in it (used syncer as an example, but also caring about api, controller, and etcd).

Maybe I'm being too nervous, and you are already working on this, bu

[2022-09-09 13:53] GyunCho commented on #719
There's no specific flag that needs to be added at this moment. I thought it'd be just nice to have that flexibility.
Thanks for adding podAnnotation!

I just commented on #718, but I'm commenting here as well just in case it could be missed:

Maybe I'm being too nervous, and you are already working on this, but I guess better safe than sorry.

[2022-09-09 18:39] GyunCho commented on #717
@FabianKramm
It's not causing any problems, but I wanted to also configure securityContext and image for it, but it didn't seem possible, or straightforward. I figured out it's not mandatory, so I just wanted to disable it to make things simpler.

@mahendrabagul  That works like a charm! Since this one line or two lines do the work that I originally wanted to achieve, this issue can be closed. Tha

[2022-09-10 11:08] #717 closed

[2022-09-10 19:03] Ab-hishek commented on #714
Hi @FabianKramm . I would like to work on this one.

[2022-09-12 14:39] matskiv opened #725 "Consider adding support for more storage.k8s.io resources"
### Is your feature request related to a problem?

Some applications or controllers may need to get/list resources from some [x.csinodes.storage.k8s.io](http://x.csinodes.storage.k8s.io).
For example cluster autoscaler tries to get [csinodes.storage.k8s.io](http://csinodes.storage.k8s.io) resource. But I am not sure what is the exact impact of it not being able to get any CSINodes.

### Which solu

[2022-09-13 08:31] #704 closed

[2022-09-13 13:32] #678 closed

[2022-09-13 14:02] #589 closed

[2022-09-13 17:52] matskiv commented on #725
@Ab-hishek we have not yet decided if we want to implement this, so for now we will leave it unassigned.

[2022-09-13 17:59] matskiv opened #732 "Sync the .status.loadBalancer field of the mapped Services."
### Is your feature request related to a problem?

Services created by vcluster based on the [configured service mapping](https://www.vcluster.com/docs/architecture/networking#mapping-services-between-vcluster-and-host-cluster) are lacking status, which means that it is not possible to read for example the IP of the assigned load balancer.

### Which solution do you suggest?

Sync the `.status.loa

[2022-09-14 12:47] rahulii commented on #732
/assign

[2022-09-15 09:03] rahulii commented on #732
https://github.com/loft-sh/vcluster/blob/main/pkg/controllers/register.go#L324
hey @matskiv as per this func it says `please use please use namespace1/service1=service2 ` service mapping
but as per the docs https://www.vcluster.com/docs/architecture/networking#map-host-cluster-service-to-vcluster-service the format is bit different ?
Am I missing something here ?
cc: @FabianKramm

[2022-09-15 10:19] matskiv commented on #732
@rahulii The docs describe how to write the mapping in the helm values, it is then transformed into a different format to pass it as a CLI flag - https://github.com/loft-sh/vcluster/blob/09b0fd82c1ab8e820a6ed1fa342cb2dd443419e2/charts/k3s/templates/_helpers.tpl#L113-L129

[2022-09-15 12:34] Blackmamba23 commented on #9
Is there an update on this issue, would be nice to have HA for k3s 🥹

[2022-09-15 14:24] mahendrabagul opened #737 "The metric-server on k3s vclusters with version 1.22 onwards doesn't work"
### What happened?

`kubectl top pods` gives below error.

Debugged it further and found that,

`kubectl get apiservice` produces below

`kubectl describe apiservice v1beta1.metrics.k8s.io`

### What did you expect to happen?

`kubectl top pods` should produce the correct output

### How can we reproduce it (as minimally and precisely as possible)?

- Create a kind cluster with 1.23 version

`kind

[2022-09-15 21:02] ddl-risong-na opened #738 "Priority Classes are not cleaned up"
### What happened?

After a a vcluster is deleted, the priority classes still exist on the host cluster.

It should be easy to repro, but please let me know if you need more details/examples.

### What did you expect to happen?

When a vcluster is deleted, its priority classes should be deleted too

### How can we reproduce it (as minimally and precisely as possible)?

* Create a vcluster with

[c

[2022-09-16 04:04] Iceber opened #739 "Integrating VCluster with Clusterpedia"
### Is your feature request related to a problem?

Using [Clusterpedia](https://github.com/clusterpedia-io/clusterpedia) to help view and retrieve resources within all virtual clusters looks very interesting.

### Which solution do you suggest?

I've been researching and using VCluster lately and I found it looks very interesting to use VCluster in combination with Clusterpedia.

[Clusterpedia](ht

[2022-09-16 07:21] FabianKramm commented on #738
@ddl-risong-na thanks for creating this issue! To have this as generic as possible this would require a helm cleanup job on deletion or we need to implement something in the cli to cleanup those priorityclasses, but right now this is expected and a known issue. As a workaround you can use `kubectl` with a label selector to delete those.

[2022-09-16 07:24] FabianKramm opened #740 "Upgrade controller-runtime dependency"
We should upgrade the controller-runtime dependency to v0.13.0

[2022-09-16 13:01] rahulii commented on #732
@matskiv I have the fix ready but since this requires loadbalancer service I would need cloud clusters to test , right ? or any other way ?

[2022-09-16 13:47] matskiv commented on #732
@rahulii You could test it with minikube too. Use `minikube tunnel` command. Docs: https://minikube.sigs.k8s.io/docs/handbook/accessing/#using-minikube-tunnel

[2022-09-19 00:59] GyunCho opened #742 "Add securityContext configuration to Helm Chart Values file, so runAsUser and runAsGroup can be set for coreDNS"
### Is your feature request related to a problem?

No

### Which solution do you suggest?

I may be misunderstanding how vcluster Helm Chart works, but currently, it seems it's not possible to set securityContext at both container and pod levels, so I can't set its runAsUser, runAsGroup, and fsGroup for coreDNS.

This is currently what I see when I <kubectl get pod coredns -o yaml ...>

[code]

..

[2022-09-20 08:38] #650 closed

[2022-09-20 09:27] iMikeG6 opened #743 "ETCD Add option to setup quota-backend-bytes using helm value file"
### Is your feature request related to a problem?

Problem started to appear on one of our tenants, which started to trow error like `etcdhttp/metrics.go:79 /health error ALARM NOSPACE status-cod 503` on etcd members and etcd nodes health check constantly failed. Consequently, etcd failed to start and vcluster became unusable.

### Which solution do you suggest?

On the vcluster etcd stateful set,

[2022-09-20 09:30] rohantmp commented on #742
@GyunCho could you clarify the use-case?

The substitution for `runAsUser: {{ .RUN_AS_USER }}` is not done by helm. Instead the controller is the entity that deploys the coredns manifest and the `runAsUser` value is copied from its own UID.

It would be a small helm-only change to expose this in `values.yaml`, but I would like to understand the use-case better, and then I can send a PR :)

[2022-09-20 09:58] FabianKramm opened #744 "helm init manifests conflict with same chart name"
Currently we have a problem that when specifying multiple init charts with the same chart name but a different repo url, vcluster will deploy the same chart twice instead of deploying both charts.

E.g.:
[code]

[2022-09-20 12:43] iMikeG6 commented on #743
Nevermind, I didn't realize that etcd setting support extraArgs in helm value. Though, adding `--auto-compaction-mode`, `--auto-compaction-retention` and `--quota-backend-bytes` in the documentation would be a great help as well as adding in the troubleshooting section the fix for error `etcdhttp/metrics.go:79 /health error ALARM NOSPACE status-cod 503`

[2022-09-20 13:50] GyunCho commented on #742
Hi @rohantmp!

This is to follow the security best practice.

"In the Kubernetes security context with runAsUser and runAsGroup. It is advisable to select a value greater than 10000, as this reduces the likelihood that this value is already taken on the host system."

Ref links:
https://cloudogu.com/en/blog/k8s-app-ops-part-3-security-context-1
https://snyk.io/blog/10-kubernetes-security-context-s

[2022-09-20 14:38] #740 closed

[2022-09-20 15:05] #737 closed

[2022-09-21 07:54] rohantmp commented on #742
Thanks for clarifying! @GyunCho

**You can actually set these directly in** `Values.securityContext` as mentioned in this doc page: [Rootless mode & OpenShift].(https://www.vcluster.com/docs/operator/restricted-hosts)

**Those values will be copied to the coredns deployment.**

When I mentioned the syncer controller, I meant the statefulset that runs the vcluster control-plane, and it is configure

[2022-09-21 07:58] rohantmp commented on #742
Does this cover your use-case?

[2022-09-21 09:27] matskiv opened #748 "Feature request: a flag to enable namespace labels on any synced resource"
### Is your feature request related to a problem?

With the development of the [vcluster-generic-crd-sync-plugin](https://github.com/loft-sh/vcluster-generic-crd-sync-plugin) I noticed that there might be use cases where a namespace selector is required, and to support that we would need namespace labels added to the resources.

### Which solution do you suggest?

Right now we are doing this for P

[2022-09-21 15:41] #646 closed

[2022-09-21 15:45] #625 closed

[2022-09-21 15:45] matskiv commented on #722
@Chakravarti-Baratam to answer your question - `whether we can use CRD in vcluster without deploying the same CRD in the host cluster?` - it depends. Most of the time CRDs are accessed by controllers deployed in vcluster, and then there is no problem in using them. However, SecretProviderClass is different in that it seems that a component running in the host cluster is trying to get it from the A

[2022-09-21 15:54] #550 closed

[2022-09-21 15:56] #511 closed

[2022-09-21 16:00] #468 closed

[2022-09-21 16:16] #396 closed

[2022-09-21 16:17] #404 closed

[2022-09-21 16:26] FabianKramm commented on #739
@Iceber thanks for creating this issue! Great to see an integration for vcluster in Clusterpedia! I'm not too familiar with Clusterpedia, but would you need to install an operator / workload into the virtual cluster for Clusterpedia to recognize it or does it detect and rewrite the vcluster pods automatically?

[2022-09-22 05:49] Iceber commented on #739
clusterpedia is used to view and retrieve resources from multiple clusters, synchronizing them through the vcluster apiserver without installing any components in the vcluster. clusterpedia will get the kubeconfig of the vcluster apiserver through the `vc-<vcluster name>` secret.

This file that automatically discovers the vcluster and converts it into clusterpedia's own cluster configuration reso

[2022-09-22 06:44] rohantmp commented on #742
Hi @GyunCho I just tried it out and it works for me. I'll post the details below. If the steps below don't work, then it might be a bug. In which case, please provide the vcluster version, the vcluster distributions (k3s(default),k0s, or k8s), values.yaml, and any other relevant details.

I can confirm now that it is a global level setting. The docs do mention: "The syncer also passes this UID dow

[2022-09-22 09:47] #732 closed

[2022-09-22 09:53] matskiv commented on #244
@ericjee vcluster CLI has two commands that might work for your use case. Instead of deleting the vcluster you could pause it:
[code]

[2022-09-22 09:56] FabianKramm opened #753 "Move https://github.com/loft-sh/vcluster/tree/main/pkg/helm/values to separate package"
We want to consume this via Loft and currently we always have support half of vcluster which is quite some overhead. Would be great if this would be a separate package or part of loft-sh/utils package.

[2022-09-22 11:19] matskiv opened #754 "A pod might become unschedulable when using a PV with nodeAffinity"
### What happened?

A dynamically provisioned PV that has nodeAffinity set (e.g. because the host cluster spans multiple AZs) might become unusable by the pod that requested it, making the pod unschedulable.
This happens because of our workaround in vcluster, which sets the `volume.kubernetes.io/selected-node` annotation incorrectly. A node from the wrong AZ gets selected, which prevents schedulin

[2022-09-22 14:36] #673 closed

[2022-09-22 16:25] bagel-dawg opened #755 "Conditionally enable IngressClasses syncing separately from Ingresses"
### Is your feature request related to a problem?

In an environment that uses Ingress resources, you may want to enable ingress syncing. Doing this on v0.12.0 results in the vcluster pods producing the following logout put before retstarting:

[code]

This is because the serviceaccount doesn't have a ClusterRole allowing it to interact with IngressClasses, which is a cluster-scoped resource.

In

[2022-09-22 16:26] kfox1111 commented on #273
Did pdb syncing ever make it in?

[2022-09-22 17:44] matskiv commented on #273
@kfox1111 yes, you can enable it with this helm value:
[code]

[2022-09-22 17:49] kfox1111 commented on #273
Awesome. Thanks! :)

[2022-09-22 17:50] matskiv commented on #755
Sort of unrelated, but I'll ask anyway, just to make sure we don't have a bug here. How are you enabling Ingress sync? Are you doing it via the `--sync=ingresses` cli flag for the syncer container?
If you do it by setting this helm value - `.sync.ingresses.enabled = true`, then the ClusterRole should get created with the get/watch/list permissions for the ingressclasses.

[2022-09-23 02:49] bagel-dawg commented on #755
I've used the helm chart to render my desired values, but I'm doing the
deployment with Kustomize. The vcluster pod does indeed have
`--sync=ingresses` on the CLI.

I didn't consider that may be I am hitting a bug as well as permission
issues. Ill try and confirm.

[2022-09-23 03:58] bagel-dawg commented on #755
Yeah, If i set a ClusterRole and a ClusterRoleBinding for the vcluster pod,
it stops throwing that error.

On Thu, Sep 22, 2022 at 10:48 PM Ryan Knauer ***@***.***>
wrote:

[2022-09-23 05:23] rohantmp commented on #744
Looks like the tarball name is the cache key. Will try it out including it today. Will also check if any of the other fields need to be in the key.

[2022-09-23 06:46] jemygraw opened #756 "v1.16.15-k3s1 will crash caused by the EndpointSlice object not found in v1.16.15"
### What happened?

vcluster: 0.10.1
k3s: v1.16.15-k3s1

When I deploy v1.16.15-k3s1 as the virtual cluster, I will always find the `syncer` container crashed caused by the following error:

[code]

After I search the reason in the code, I found that the register logic will first check whether api version `discovery.k8s.io/v1` found, if not, it will fallback to `discovery.k8s.io/v1beta1` in https:

[2022-09-23 09:04] matskiv commented on #756
@jemygraw Kubernetes 1.16 is a very old version, and Kubernetes maintenance support for this version ended more than 2 years ago. I don't think we will be fixing this, since it is not a problem in newer versions (1.18+ AFAIK).

[2022-09-25 14:59] bitpeng opened #759 "How to manage many vcluster?"
Help. I create several vclusters based on host cluster（and more vclusters may be created in the future），How to manage those vclusters on a convenience way? Is it to support virtual cluster management through `KOK` and so on？Thanks

[2022-09-25 17:29] olljanat commented on #659
Expect that issue looks to be that pods does not have `ownerReferences` defined when `--target-namespace` is used. I will create pull request to fix it but re-opening this in meantime.

[2022-09-26 07:55] matskiv commented on #759
Hello @bitpeng
Some users manage vclusters via ArgoCD, and there are multiple blog posts about that on the internet AFAIK. Another option is to use vcluster CAPI provider - https://github.com/loft-sh/cluster-api-provider-vcluster but it is limited to one host cluster.
The option with the most features and best support is our commercial offering - Loft ( https://loft.sh/ ).

P.S: I am unfamiliar wi

[2022-09-26 11:27] rohantmp commented on #754
Here is the progress of my attempt to reproduce:

So the current flow is:

1. virt: PVC and Deployment created,
2. virt: Pod created pending
3. host: Pod not synced, no Node assigned
4. virt:  PVC assigned to random node that matches storageclass allowed topologies
5. host : pv-controller(I don't know if external-provisioner subs in for CSI here) sees the selected-node annotation and provisions PV

[2022-09-26 13:11] rohantmp commented on #754
Attempting the steps above, the hypothesis proved to be false:
All nodes were tainted in `eu-central-1a`,  the PV was bound in `eu-central-1a`, the pod remained pending with the scheduler event:
[code]

[2022-09-26 13:17] rohantmp commented on #754
One bit of context that came up: the user was using spot instances, it could be possible that no instances from the required zone were part of that cluster at the time.  I'll ask them to provide `kubectl get node --show-labels` as well as `kubectl get pv --show-labels` next time they reproduce.

[2022-09-26 13:45] matskiv commented on #754
@rohantmp The affected cluster had 2 nodes in AZ 1a and 2 nodes in 1b. PV got provisioned in 1b. Both Nodes in zone 1b were reporting good status when the scheduler was trying to schedule the pod.
I'll send you the output of those^ two commands via PM.

[2022-09-27 12:05] matskiv opened #763 "Docs: create a page describing vcluster-generic-crd-sync-plugin"
### Is your feature request related to a problem?

The vcluster-generic-crd-sync-plugin project needs some kind of documentation page to present it to users and explain configuration options. A page on the vcluster docs website seems fitting.

### Which solution do you suggest?

Add a new page in the Plugins section with a general description of the generic crd plugin and then the explanation of t

[2022-09-27 12:12] neogopher commented on #763
Hi @matskiv . Can you please assign this to me.

[2022-09-27 14:37] rohantmp commented on #725
The scheduler uses CSINode and complains if it can't fetch it in some cases: https://github.com/kubernetes/kubernetes/blob/462f41212a4e5ded8974784038f681a08dded1be/pkg/scheduler/framework/plugins/volumebinding/binder.go#L561

Thought it was capacity, but looks like that uses a different object. Not sure exactly what.

[2022-09-27 21:53] felipecrs opened #765 "vcluster crashes when `sync.ingresses` is enabled - failed to list IngressClass (is forbidden)"
### What happened?

The moment I enable ingresses sync, my connection with the vcluster becomes unstable. It stops working for a while, then it comes back.

### What did you expect to happen?

To work.

### How can we reproduce it (as minimally and precisely as possible)?

I don't know, maybe there is something unique in my host cluster which triggers this issue?

### Anything else we need to know

[2022-09-27 21:54] felipecrs commented on #765
[code]

On behalf of myself it works just fine.

[2022-09-27 23:01] felipecrs commented on #765
Using a `cluster-admin` serviceAccout seems to fix the issue, but I wonder if there is a more elegant solution.

[2022-09-28 07:06] rohantmp commented on #742
Closing for now. If it turns out to be a bug and the flow mentioned doesn't work, please reopen :)

[2022-09-28 07:11] rohantmp commented on #725
IMO, when the internal scheduler is enabled, we will need to add some additional objects. `CSIDrivers`, `StorageCapacities`, `CSINodes`. I will investigate.

[2022-09-28 08:59] matskiv commented on #765
The problem that causes this has been kindly pointed out in this comment - https://github.com/loft-sh/vcluster/pull/676#pullrequestreview-1123283087

[2022-09-28 09:51] rohantmp commented on #725
Looks like we need this:

https://github.com/kubernetes/kubernetes/blob/462f41212a4e5ded8974784038f681a08dded1be/pkg/scheduler/framework/plugins/nodevolumelimits/csi.go#L95

`getVolumeLimits` here fallsback to getting volume limits from node status, but this may be discontinued in a patch release to v1.18
[code]

[2022-09-28 13:14] felipecrs commented on #765
I'm working on a PR for this.

[2022-09-28 14:41] #765 closed

[2022-09-28 15:32] #754 closed

[2022-09-28 15:33] felipecrs opened #769 "`failed to list *v1.Endpoints` in vcluster pod log logs"
### What happened?

While investigating #765, I also noticed this issue in the vcluster pod logs:

[code]

And I wonder if this is something that should be addressed. I haven't noticed any side-effect though.

### What did you expect to happen?

Not to throw this error, I would say.

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

[2022-09-28 16:00] felipecrs opened #770 "Bundle charts with the CLI"
### Is your feature request related to a problem?

See next answer.

### Which solution do you suggest?

Since the size of all the charts is minimal, the CLI could come with them bundled, at least with the matching version, i.e. vcluster cli 0.12.0 comes with the version 0.12.0 of the charts.

This would avoid one connection to external servers during the deployment of vclusters, and therefore red

[2022-09-28 16:42] felipecrs commented on #769
Just to add, the error persists even with 0.12.1-beta.0.

[2022-09-28 17:07] felipecrs commented on #88
This issue isn't meaningful for me any longer, therefore I'm closing it. If you believe the opposite, feel free to reopen it.

[2022-09-28 17:07] #88 closed

[2022-09-28 17:28] felipecrs opened #771 "`vcluster delete --ignore-not-found` just like `kubectl`"
### Is your feature request related to a problem?

I'm using vcluster in CI, and I add `vcluster delete` as a cleanup step of my pipeline. Sometimes the pipeline fails before the vcluster gets created, and therefore `vcluster delete` fails with `couldn't find vcluster`.

### Which solution do you suggest?

A new flag like `vcluster delete --ignore-not-found`, similar to `kubectl delete --ignore-no

[2022-09-29 01:21] jemygraw commented on #756
ok, thanks for you reply.
after some research work, i found that 0.7.0 support kubernetes 1.16 and we can close this issue now.

[2022-09-29 01:21] #756 closed

[2022-09-29 06:18] anupshandilya opened #772 "vcluster with plugin deployment enabled fails from 0.9.1 to 0.12.0"
### What happened?

Hi,

I am opening this issue to request support on what could be done to solve this problem. I appreciate your valuable advise.

I am trying to deploy vcluster 0.12.0 with crd-sync plugin added as a helm chart on OpenShift.
syncer container is blocked waiting for crd-sync plugin to register. crd-sync container is trying to connect with vcluster but is unable to do it(looks like

[2022-09-29 06:49] FabianKramm commented on #771
@felipecrs thanks for creating this issue! Sounds like a good idea, I guess we can implement that!

[2022-09-29 09:30] FabianKramm commented on #770
@felipecrs thanks for the issue! That sounds like a good idea and should also speed up the creation of a vcluster as the chart doesn't need to get pulled!

[2022-09-29 09:51] rohantmp opened #773 "Sync all objects required by virtual scheduler when enabled, remove workaround."
### Is your feature request related to a problem?

There is a workaround that uses custom scheduling logic [here](https://github.com/loft-sh/vcluster/blob/86603ca11282e12dd25ecf7c8649dfc93bf196eb/pkg/controllers/resources/persistentvolumeclaims/translate.go#L113).

The workaround is necessary if the storageclass isn't synced as the scheduler cannot make a decision without the storageclass.

### Wh

[2022-09-30 09:16] rohantmp commented on #773
Proposal here: https://docs.google.com/document/d/1Y3Xxgvlg9i_Ea9cHYZOhr0pRzRjHQtomXTA89ZI-5QU/edit?usp=sharing

After inviting comments, I'll post the summary here and send a PR.

[2022-09-30 14:29] ishankhare07 commented on #772
hey @anupshandilya , thanks for creating this issue. I suspect this is because the upstream images that the plugin.yaml refers to currently are quiet old and since then we have changed the plugin registration mechanism with the vcluster server. I tried the `devspace.yaml` to deploy the plugin and run the latest code against the created vcluster and it seems to be working fine. I suggest you can tr

[2022-09-30 14:32] ishankhare07 commented on #772
hey @anupshandilya , thanks for creating this issue. I suspect this is because the upstream images that the plugin.yaml refers to currently are quiet old and since then we have changed the plugin registration mechanism with the vcluster server. I tried the `devspace.yaml` to deploy the plugin and run the latest code against the created vcluster and it seems to be working fine. I suggest you can tr

[2022-10-02 08:24] rahulii commented on #771
/assign

[2022-10-02 19:00] lknite opened #775 "oidc - one can use kubelogin w/ a cluster configured with oidc ... possible to do so with vcluster?"
### Is your feature request related to a problem?

Just to try it I configured argocd to deploy the kubernetes dashboard to all my clusters, a root cluster and two vclusters.  kubernetes-dashboard can accept a bearer token, so I configured oauth2-proxy along with kubernetes-dashboard.

The short version is that the kubernetes dashboard just passes along the bearer token.  This works with the root

[2022-10-03 04:29] anupshandilya commented on #772
Hi @ishankhare07

Thanks for you response.
In the `devspace.yaml` of crd-sync plugin, I see image of another example - `vcluster-example-pull-sycret-sync`. Is this fine?

https://github.com/loft-sh/vcluster-sdk/blob/main/examples/crd-sync/devspace.yaml

[code]

Did you suggest to try above or use the following image ?

[code]

[2022-10-03 05:03] rohantmp commented on #773
Proceeding with the proposal as-is and copying here:

## Problem:

Node, Pod, PVC, PV, StorageClass,CSIDriver, CSINode, and CSIStorageCapacity are all watched by the scheduler to make scheduling decisions, and when the vcluster’s internal scheduler is enabled, not all of them are synced. Currently, this causes issues with WaitForFirstConsumer StorageClasses, capacity aware scheduling and possibly

[2022-10-03 05:09] rohantmp commented on #725
Will be doing as a fix for #773

[2022-10-03 05:09] #725 closed

[2022-10-03 08:34] matskiv commented on #775
This should definitely be possible. I had a very brief look at the kubelogin docs, and it seems like some flags on the k8s server side need to be set for the API server. If you use the default k3s distro then these helm values should do the trick:
[code]

P.S.: As for the existing solutions, SSO and user management for vclusters is solved out of the box in our commercial product - [Loft](https://l

[2022-10-03 09:37] ishankhare07 commented on #772
hey @anupshandilya , As long as you're testing against a local cluster it won't matter as you would be building and running the code from inside the opened shell to the pod. In case you want to try this against an upstream cluster, I suggest you can change the `PLUGIN_IMAGE` value to your own docker hub handle and execute `devspace dev -bd` this would `build` and `deploy` the latest image on your

[2022-10-03 16:58] ddl-risong-na commented on #600
@FabianKramm just want to follow up on this as the issue is still Open. I saw the Persistent Volume work was mentioned on the release note of [v0.12.0-beta.1](https://github.com/loft-sh/vcluster/releases/tag/v0.12.0-beta.1), but not v0.12.0 or v0.12.1. If we take v0.12.1, is the issue supposed to be fixed? Thank you.

[2022-10-03 17:36] rahulii commented on #771
hey @FabianKramm @felipecrs I would like to work on the issue.
Also, do we want to keep the scope of `ignore-not-found` to just vcluster or pvc and namespace as well , as described in the description?

[2022-10-03 17:39] felipecrs commented on #771
In my opinion I think it should, so that:

[code]

Can be reliably used, and repeated, to ensure there are no leftovers from vcluster.

[2022-10-04 02:27] lknite commented on #775
Thank you.  Still working on it but closing the issue here as this is the known way to do this.

[2022-10-04 02:27] #775 closed

[2022-10-04 17:17] rahulii commented on #738
hey @FabianKramm if this is required, can I work on it?

[2022-10-06 07:46] anupshandilya commented on #772
Hi @ishankhare07

I retested taking latest image - ```ghcr.io/loft-sh/vcluster-example-crd-sync:latest``` on OpenShift 4.11 with vcluster 0.12.0 helm chart.
Still, experiencing the issue as originally described in the description.

On the other hand, [cert-manager-plugin works](https://github.com/loft-sh/vcluster-plugins/tree/master/cert-manager-plugin).

[2022-10-08 03:24] vumdao commented on #510
Hi, any update?any documents to enable logging in vcluster or from host?

[2022-10-08 08:58] salaboy opened #779 "Vcluster CLI 0.12.1 fails to connect to a vcluster with custom server address"
### What happened?

I've upgraded to cli v0.12.1 and then this command stopped working:

[code]

We need to override the server URL to connect to our vcluster due our configs and this is working correctly with v0.12.0 .

If I remove the last `-- zsh` flag it connects but it doesn't do the port-forward correctly, as this will fail

[code]

Results into kubectl not being able to connect to localhost

[2022-10-08 13:17] FabianKramm commented on #779
Hey @salaboy! Thanks for creating the issue! Yes you are correct, seems like this was introduced with the vcluster completion PR, I fixed it with #780

[2022-10-09 01:22] lknite commented on #653
Closing.  I'm not sure of the details, but after upgrading from 0.11.0 to 0.12.2 metrics server immediately installed and started working.

[2022-10-09 01:22] #653 closed

[2022-10-09 15:53] ishankhare07 commented on #772
hey @anupshandilya, as informed earlier these images you're referring to have not been built with the latest code. If you want to try this example you'll have to use the devspace method as suggested previously

[2022-10-10 17:10] #659 closed

[2022-10-11 03:52] anupshandilya commented on #772
Hi @ishankhare07

I see the point now. Thanks. Will check

[2022-10-11 08:34] FabianKramm opened #783 "Rename legacy-storageclasses sync option"
Edited by @matskiv

**What:**
The `legacy-storageclasses` syncer should be renamed to `host-storageclasses`.
The same applies to the values in helm charts.
Backward compatibility for both things needs to be ensured.
Documentation should be updated.

**Why:**
@matskiv : IMHO original naming was not well chosen. The connotations of "legacy" make it sound like its usage would be discouraged, and that

[2022-10-11 09:29] matskiv commented on #783
Haha, I guess you've seen my comment about this... :joy:
How about "host-storageclasses" ?

[2022-10-11 11:11] bitpeng opened #784 "vcluster create support --image-repository like minikube"
### Is your feature request related to a problem?

Some users could not pull images from grc.io, and they must execute `kubectl edit pod` to change image manually.

### Which solution do you suggest?

Cloud vcluster support alternative image repository to pull docker images from. This can be used when you have limited access to gcr.io.

### Which alternative solutions exist?

Reccommand to support

[2022-10-11 12:58] matskiv commented on #784
I don't know if we will add a CLI option for this, but there is an existing way to achieve this already.
If you are talking about the images used by vcluster itself, then you can create a `values.yaml` file with this content:
[code]
And then use it when creating the cluster - `vcluster create vname -f values.yaml`.
The `your.registry.here` should contain `loftsh/vcluster` images AND rancher/k3s, o

[2022-10-12 10:28] #510 closed

[2022-10-12 14:00] FabianKramm commented on #783
Yes that sounds good!

[2022-10-12 17:43] matskiv commented on #600
@ddl-risong-na The fix was not released yet, but we just merged it, so it will be part of the next release.

[2022-10-13 10:38] matskiv commented on #9
@Blackmamba23 sorry for taking so long to reply. Right now this is not on our short-term roadmap.
But as with other issues, we would be glad to receive a PR with community contribution for this.

[2022-10-13 10:40] matskiv commented on #438
@sandeep540 Are you still working on this issue? If you got blocked and need help, please don't hesitate to reach out to us in vcluster channel in [our Slack](https://slack.loft.sh/).

[2022-10-13 10:42] sandeep540 commented on #438
Hi @matskiv , No I am currently not working on this! you can reassign it to someone

[2022-10-13 11:02] matskiv commented on #323
@olljanat you are of course correct, this was already implemented and released, so I will close this issue.

As for your improvement proposal, I am not sure if it would be a good idea to make pods compliant(basically modify the pod spec) automatically. IMHO it's better to let the user know which fields have unacceptable values and let them fix those fields. Benefits of current implementation: educ

[2022-10-13 11:24] matskiv commented on #771
@rahulii sorry for late reply, I will assign this issue to you, but let me know if you are not interested anymore.

As for the scope, the `vcluster delete --ignore-not-found` should not fail with "not found" error regardless of the resource that it tries to delete.

[2022-10-13 11:33] matskiv commented on #714
@Ab-hishek Are you still working on this issue? If you got blocked and need help, please don't hesitate to reach out to us in vcluster channel in [our Slack](https://slack.loft.sh/).

[2022-10-13 12:01] matskiv commented on #763
Resolved by #782

[2022-10-13 12:01] #763 closed

[2022-10-13 12:02] #759 closed

[2022-10-13 12:08] matskiv commented on #753
Resolved in #761

[2022-10-13 12:08] #753 closed

[2022-10-13 13:43] matskiv commented on #739
@Iceber Thank you for sharing all the information about Clusterpedia and how it can discover vclusters. :raised_hands:

Based on the lack of comments it seems like there are no specific ideas for integration yet. For that reason, I will close this issue now, but I am happy to reopen it if good ideas are added to the comments.

[2022-10-13 13:43] #739 closed

[2022-10-13 23:06] mtougeron opened #786 "Nested vcluster commands expect host cluster context name"
### What happened?

After creating a vcluster inside another vcluster the `vcluster` commands expect the new kubeconfig context to be named the same as the original context.

[code]

### What did you expect to happen?

It should have listed the vclusters (and not found any) in the new vcluster environment.

### How can we reproduce it (as minimally and precisely as possible)?

[code]

Then connect

[2022-10-14 08:50] FabianKramm commented on #786
Hey @mtougeron ! Thanks for creating this issue! We'll take a look and try to reproduce the problem and then come back to you.

[2022-10-14 12:44] matskiv commented on #722
Now we have another an alternative to writing a plugin with the SDK, you can use our "Generic CRD Sync" plugin to sync CRDs declaratively. Docs: https://www.vcluster.com/docs/plugins/generic-crd-sync

Based on the lack of responses I will close this issue, but we can reopen based on new comments.

[2022-10-14 12:44] #722 closed

[2022-10-14 12:51] matskiv commented on #613
This issue has had no reply for over 2 months. Closing.

[2022-10-14 12:51] #613 closed

[2022-10-14 12:52] matskiv commented on #600
Actually, I think it makes sense to close this now, as the fix was merged already. We can obviously reopen if the new version doesn't fix the problem.

[2022-10-14 12:52] #600 closed

[2022-10-14 13:17] #423 closed

[2022-10-14 13:27] matskiv commented on #385
I don't think we will be able to have pod names 1:1 match between the host and virtual due to the potential collisions.
There is a separate issue about adding pod name to the labels - #582
Also, it sounds like some workarounds are available.
Closing for the reasons above.

[2022-10-14 13:27] #385 closed

[2022-10-14 13:28] mtougeron commented on #786
Something new I just discovered this morning, if when using `vcluster connect` I also add the flag `--kube-config-context-name` when outputting the nested vcluster's kubeconfig it works as expected.

[code]

[2022-10-14 13:44] matskiv commented on #293
The technical blockers for logging that Fabian described in his comment have been recently resolved(#694) and documented. Expect them to be available in the next release (0.13.0).
[New docs](https://www.vcluster.com/docs/operator/monitoring-logging#logging) describe what needs to be done in vcluster to allow logging solutions installed inside a vcluster to work.
As for using one logging stack for

[2022-10-14 13:44] #293 closed

[2022-10-14 13:53] matskiv commented on #247
Also, since v0.7.0 it is possible to set the CoreDNS image with the `.coredns.image` helm value.

[2022-10-14 13:53] #247 closed

[2022-10-14 14:02] matskiv commented on #246
@FabianKramm would you say this is addressed now that the #694 and #785 are merged?

[2022-10-14 14:05] matskiv commented on #244
@ericjee Do the `vcluster pause` and `vcluster resume` commands that I mentioned in the previous comment satisfy your use case?

[2022-10-14 14:07] matskiv commented on #210
This seems to be answered, so I am closing the issue.
P.S: AFAIK we have not had any reports about issues caused by eBPF :)

[2022-10-14 14:07] #210 closed

[2022-10-14 14:24] matskiv commented on #179
I suspect this was caused by the "vcluster-rewrite-hosts" sidecar that vcluster injects.
That was fixed in #400 PR and released in v0.7.0.

Please let us know if you still observer the issue in v0.7.0+

[2022-10-14 14:24] #179 closed

[2022-10-14 14:31] matskiv commented on #159
We have a doc with a plugin development tutorial here - https://www.vcluster.com/docs/plugins/tutorial
Also, we have an initial version of a plugin that can sync resources based on yaml configuration, so no coding is required. Here is documentation for that - https://www.vcluster.com/docs/plugins/generic-crd-sync and we also have [example configuration for cert-manager](https://github.com/loft-sh/

[2022-10-14 14:31] #159 closed

[2022-10-14 14:31] donmstewart opened #788 "vCluster TCP Socket Fails"
### What happened?

A socket exposed through ingress-nginx on the vCluster is terminating connections or has large latencies on connection which cause clients to timeout.

### What did you expect to happen?

External apps can connect to a TCP socket (not HTTP) on the vCluster

### How can we reproduce it (as minimally and precisely as possible)?

Use `--tcp-services-configmap=nginx/tcp-services` o

[2022-10-14 14:36] matskiv commented on #260
vcluster CLI can now download helm binary automatically if it doesn't find it - #730

[2022-10-14 14:36] #260 closed

[2022-10-14 14:41] matskiv commented on #154
We have found blocking problems with dependencies when trying to use helm Go library, so instead, we made an enhancement in this area - vcluster CLI will download helm binary automatically if it can't find it (#730). This got released in v0.12.0. Is that sufficient for your use case @developer-guy?

[2022-10-14 14:48] matskiv commented on #150
From the comments, it sounds like this issue is resolved, so I'll close it. But drop a comment if I got it wrong :)

[2022-10-14 14:48] #150 closed, assigned to nobody

[2022-10-14 14:50] matskiv commented on #143
This is probably solved now with [the Isolated mode](https://www.vcluster.com/docs/operator/security).
I am happy to reopen if you point out what is still missing.

[2022-10-14 14:50] #143 closed

[2022-10-14 15:02] matskiv commented on #142
Currently, the context will be named based on this code: `"vcluster_" + vClusterName + "_" + vClusterNamespace + "_" + currentContext`, this is required for some handy cli features (e.g. `vcluster disconnect`).
But you also can set the context name when creating vcluster, or when connecting to it, with the `--kube-config-context-name` flag.

[2022-10-14 15:02] #142 closed

[2022-10-14 15:22] matskiv commented on #788
The vcluster is designed to utilize host cluster network layer for the workloads (with the exception of DNS), so it doesn't interact with any application network requests except for the requests to the vcluster API server.
Unless nginx is exposed via `kubectl port-forward`, the vcluster is very unlikely to cause the performance issues you are seeing.
Can you please provide more information based o

[2022-10-14 16:19] matskiv commented on #786
`vcluster list` command was tailored for a use case where you have multiple vclusters in one host cluster without nesting. With the current behavior you can see those other vclusters easily, and coupled with `vcluster connect` you could switch between them in a single command.
This issue basically requests to change the existing behavior and not show other vclusters spawned in the same parent clus

[2022-10-14 17:30] Ab-hishek commented on #714
I will work on it. Sure @matskiv, will reach out in case I get stuck.

[2022-10-14 18:26] mtougeron commented on #786
I agree the sub/nested cluster is an edge case. I really wouldn't treat this as a priority.

[2022-10-14 18:52] donmstewart commented on #788
If we run our workload, which has a couple of TCP layer 3/4 sockets as well as HTTP layer 7 ingress, on the EKS cluster hosting the vCluster it works. If we move the workload into the vCluster on the same EKS it does not. HTTP works, TCP ports are intermittent.

So are you suggesting as vcluster uses the `host cluster` networking that the TCP ports be opened on the ingress-nginx on the host or tha

[2022-10-15 02:35] gyliu513 commented on #509
@FabianKramm it is great to see this issue, can you share some progress for this? Any document or design that can be shared? Thanks!

[2022-10-15 02:35] gyliu513 commented on #509
@morningspace

[2022-10-15 03:20] ctml91 commented on #509
Interested in this

[2022-10-17 10:45] matskiv commented on #788
It should already work in the vcluster.
I mentioned that it uses host cluster networking to support my thesis that it is unlikely that vcluster could cause the drop in network performance. Workloads deployed to vcluster (this includes nginx in this case) end up running in the host cluster (pods and services are copied but with name and label changes).
I think what I failed to take into account in

[2022-10-17 11:28] #129 closed

[2022-10-17 11:37] matskiv commented on #126
Seems like this was addressed in #135 - closing.

[2022-10-17 11:37] #126 closed

[2022-10-18 04:56] rahulii commented on #771
@matskiv I am on it.

[2022-10-18 09:26] matskiv commented on #102
This was implemented in #116

[2022-10-18 09:26] #102 closed

[2022-10-18 11:04] donmstewart commented on #788
I am leaning towards ruling out it being vcluster because if I deploy a socat pod/svc and expose it externally then have the socat pod forward to our pod/svc internally it always works.

The weird thing is on EKS & AKS natively this does not occur only in vcluster.

I will try out the `.spec.clusterIP` though to rule that out. Thanks for the pointer.

[2022-10-18 11:37] rahulii commented on #771
hey @matskiv how do I compile a new vcluster cli with my code changes?

[2022-10-18 13:13] matskiv commented on #771
@rahulii Ideally like this - `go build -mod vendor cmd/vclusterctl/main.go`
or you can run new code in one command, without creating a temporary binary, like so - `go run -mod vendor cmd/vclusterctl/main.go -- help`

[2022-10-19 08:34] matskiv commented on #786
@mtougeron FYI, we decided that `vcluster list` will show clusters from the current context and parent context too (when it is in the same kubeconfig file). The "Context" column was added to the output to distinguish between the two. I'll attach a screenshot example. I hope this approach works for you.
![image](https://user-images.githubusercontent.com/1605799/196639728-061b5817-2dc2-43b7-8778-8af

[2022-10-19 09:46] #755 closed

[2022-10-19 13:27] mtougeron commented on #786
That seems reasonable to me. Thanks!

[2022-10-20 21:41] matskiv commented on #784
@bitpeng does the approach I describe in my previous comment solve your problem?

[2022-10-21 03:42] bitpeng commented on #784
Yup. I have solved it . Thanks a lot for your kind help!

[2022-10-21 03:43] bitpeng commented on #784
Yup. I have solved it now. Thanks a lot for your kind help! @matskiv

[2022-10-24 08:35] #784 closed

[2022-10-24 10:38] alexandradragodan commented on #788
Hey, @donmstewart 👋

Thanks again for reporting this issue.
We're eager to hear how that `.spec.clusterIP` try went out for you!

Please let us know if there's anything we can support you with!
Thank you for your promptitude.

[2022-10-24 12:27] dakraus commented on #9
@matskiv I created a PR that intends to add high availability support for k3s with an external database. Since I'm no expert on k3s any feedback is more than welcome (especially if I missed something basic about the high availability with k3s / vcluster ...).

[2022-10-26 15:18] GyunCho commented on #742
Hi @rohantmp,

Sorry for not responding to you. I was on PTO in the past month.

Yes, I can confirm that the flow mentioned doesn't work. Maybe I'm terribly missing something really small, but I'm thinking it's probably because I'm using "EKS" Helm Chart instead of "k3s".

Also, I'd like to note that even if it works, it doesn't meet my requirements 100% as I also need to set runAsGroup in additio

[2022-10-26 16:12] GyunCho opened #797 "Update pre install hook job's runAsUser and runAsGroup values to 10001 or make them configurable"
### Is your feature request related to a problem?

No

### Which solution do you suggest?

Currently pre install hook job's runAsUser and runAsGroup's values are both 1000, and they are not configurable.

The security best practice says:
"In the Kubernetes security context with runAsUser and runAsGroup. It is advisable to select a value greater than 10000, as this reduces the likelihood that this

[2022-10-28 18:38] mtougeron opened #799 "CLI doesn't clean up etcd pvc volume when using k8s or eks distros"
### What happened?

When you provision a vcluster using the k8s provider and then delete it, it doesn't clean up the PVC created for the etcd statefulset.

### What did you expect to happen?

The PVC created for etcd to be deleted when the vcluster was deleted.

### How can we reproduce it (as minimally and precisely as possible)?

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[c

[2022-10-28 18:56] matskiv commented on #799
@mtougeron Thank you for reporting this. Yeah, this is definitely a bug in the CLI. It seems fairly straight-forward, so I'll add "good-first-issue" label, but if it is rather high priority for you - let me know :slightly_smiling_face:

Info for somebody who will be fixing this, which might be future me :joy:
In the code [here](https://github.com/loft-sh/vcluster/blob/7d52b577bf0c54a46685c3ded43d8

[2022-10-28 19:22] mtougeron commented on #799
Nope, no rush at all. Ran across it the other day and figured I'd report it in case you were not aware. I run vcluster mostly as k3s anyway.

[2022-10-28 20:04] WolfspiritM opened #800 "New NGINX Ingress causes 503 if service name is too long"
### What happened?

I'm currently having the problem that short service names work for ingresses but long names don't work. I get a 503 with latest nginx ingress controller (version 1.4.0). The old version works fine. The reason is that they moved from using endpoints to endpointslices. Now for long service names I get:

[code]

However the endpoint slice is called `dev-bbbbbb-product-manual-x-dev

[2022-10-31 08:03] rahulii commented on #799
@matskiv as far as I understood, we should try to list the PVC using label as a filter and try to delete it , correct?
listOptions would contain matchLabels:
app: vcluster-etcd
elease: args[0] // vcluster-name

[2022-10-31 13:32] rohantmp commented on #582
Yes, looks like the EKS and K8S chart respect .Values.syncer.securityContext instead of .Values.securityContext, and in the EKS chart, the RUN_AS_USER is not escaped properly i.e. `{{ .RUN_AS_NON_ROOT }}` as opposed to ```{{`{{.RUN_AS_NON_ROOT}}`}}```.

[2022-10-31 13:33] rohantmp commented on #582
Oops, commented on wrong issue, sorry.

[2022-10-31 13:33] #582 closed

[2022-10-31 13:35] rohantmp commented on #742
Yes, looks like the EKS and K8S chart respect .Values.syncer.securityContext instead of .Values.securityContext, and in the EKS chart, the RUN_AS_USER is not escaped properly i.e. `{{ .RUN_AS_NON_ROOT }}` as opposed to ```{{`{{.RUN_AS_NON_ROOT}}`}}```.

[2022-10-31 15:51] FabianKramm commented on #800
@WolfspiritM thanks for creating this issue! While this is unfortunate, I believe the problem lies on the ingress-nginx side as this exact same problem also occurs for long service names without vcluster. This just seem to happen here more often as vcluster is concatinating names which results in longer names in general, but this isn't a bug per se. Instead the ingress-nginx folks need to work on

[2022-10-31 21:48] pratikjagrut commented on #503
There are a few more tests remaining from the description. I think we should keep it open.

[2022-10-31 22:37] vsantos opened #803 "No clear message when wrongly trying to use helm2 instead of helm3"
### What happened?

When trying to bootstrap a virtual cluster via `helm2` I ended up with a fatal error with no clarification. I'm assuming that the problem itself relies on `helm2` because changing to `helm3` apparently fixed the issue.

### What did you expect to happen?

I expect to have a clear message when wrongly using `helm2` (`v2.17.0`) instead of `helm3` and even the `--debug` flag was n

[2022-11-01 10:24] FabianKramm commented on #803
@vsantos thanks for the issue! Yes we should improve the error message there or atleast be a little bit more verbose in what went wrong.

[2022-11-01 10:41] matskiv commented on #803
@vsantos Thank you for reporting the issue. We will be very happy to receive a PR for this, and I can help you with it if necessary. You can reach out for help via [our Slack instance](https://slack.loft.sh/) too, either #vcluster channel or feel free to PM me. So can I assign this issue to you then? :slightly_smiling_face:

**Details about the root cause:**
The [/cmd/vclusterctl/cmd/create.go](ht

[2022-11-01 11:46] matskiv commented on #799
@rahulii Listing by label would work, but doing it based on the known name format would be okay too. I was mainly trying to say that when we are deleting the PVC we should detect which distro is being removed and only delete a PVC that belongs to that distro. So if somebody creates a vcluster named "test" with k3s distro, then deletes it but with `--keep-pvc` option, and then creates a vcluster wi

[2022-11-01 12:01] matskiv commented on #743
I don't have much expertise when it comes to tweaking etcd options, but if somebody can raise a PR for this issue and back the recommendations by reputable sources then I can review the PR and help to get it over the line. Based on this I'll add the "help-wanted" label.
@iMikeG6 would you be interested in contributing a PR for this? You seem to know a lot about etcd. :)

[2022-11-01 12:02] WolfspiritM commented on #800
@FabianKramm Thanks for clarifying. I opened a ticket in the nginx-ingress repository 😄

[2022-11-01 12:02] #800 closed

[2022-11-02 12:55] ishankhare07 commented on #128
Hi @DanWard , @vysr2939 and @aravindgpd we recently released [v0.13.0-alpha.0](https://github.com/loft-sh/vcluster/releases/tag/v0.13.0-alpha.0) of vcluster with the `HostpathMapper` feature. Would you like to give it a spin as see if it fixes your problem? You can enable the feature with
[code]

[2022-11-02 18:15] matskiv commented on #127
As mentioned by Fabian, this is achievable with the `--upgrade=false` flag, and since v0.5.0 the default value for the flag is "false".

[2022-11-02 18:15] #127 closed

[2022-11-02 18:23] matskiv commented on #122
This is the same in the chart, so we should fix it.

As for this sentence from the description:

The default value of "Filesystem" is for the volumeMode field, which we don't set.

[2022-11-02 18:27] matskiv commented on #83
This was implemented in #85 but we forgot to close the issue, so closing it now :)

[2022-11-02 18:27] #83 closed

[2022-11-02 18:29] matskiv commented on #82
This was implemented in #85 but we forgot to close the issue, so closing it now :)

[2022-11-02 18:29] #82 closed

[2022-11-02 18:38] matskiv commented on #64
k3s maintainers [decided to not expose the database connection flags](https://github.com/k3s-io/k3s/issues/1459#issuecomment-1167703296), I don't think we can influence or work around that so I'll close this issue, but feel free to comment or create a new issue if you identify that there is something that we can do on the vcluster side.

Also, we have the option to install vcluster with k8s distro

[2022-11-02 18:38] #64 closed

[2022-11-02 18:40] matskiv commented on #62
This was implemented in #99 but we forgot to close the issue, so closing it now :)

[2022-11-02 18:40] #62 closed

[2022-11-02 18:49] matskiv commented on #59
This was implemented in #195 but we forgot to close the issue, so closing it now :)

P.S: Network policies inside the cluster should also work (since v0.5.0) - [Docs](https://www.vcluster.com/docs/architecture/networking#network-policies).

[2022-11-02 18:49] #59 closed

[2022-11-02 18:58] matskiv commented on #44
There has not been a response on this issue in a long time so I will close it. We can reopen if more information is provided.

[2022-11-02 18:58] #44 closed

[2022-11-02 19:33] matskiv commented on #40
This is quite an old issue with no reports of further problems, so I presume this was resolved. Please comment or open a new issue if you experience this problem.

[2022-11-02 19:33] #40 closed

[2022-11-02 19:35] matskiv commented on #34
This was implemented, so I'll close the issue.
The top level `nodeSelector` helm value can be used for this purpose.

[2022-11-02 19:35] #34 closed

[2022-11-02 19:44] matskiv commented on #27
I think this was not implemented due to security concerns. I'll close this issue since there are multiple workaround options as described below.

We have a flag that allows setting explicitly allowed labels, and those will be synced on all resources without changing the label key:
[code]

Also, we introduced a [plugin system for vcluster](https://www.vcluster.com/docs/plugins/overview) through whi

[2022-11-02 19:44] #27 closed

[2022-11-02 19:45] matskiv commented on #26
The question has been answered with no follow up questions - closing.

[2022-11-02 19:45] #26 closed

[2022-11-02 19:50] matskiv commented on #18
Sounds like this might work already. We will close this issue unless told that it doesn't work even with the latest vcluster version and recent k3s.

[2022-11-02 19:52] matskiv commented on #17
This is an old issue with no reply, so I'll close it. Please comment or open a new issue if you face this problem with the latest vcluster version.

[2022-11-02 19:52] #17 closed

[2022-11-02 20:05] matskiv commented on #10
This one is already done, e.g. https://www.vcluster.com/docs/operator/other-distributions

[2022-11-02 20:05] #10 closed

[2022-11-02 20:15] matskiv commented on #5
Seems like the question was answered, so I'll close this issue.
If you have follow-up questions - don't hesitate to open another issue or to reach out to us in the #vcluster channel in [our Slack](https://slack.loft.sh/).

[2022-11-03 12:15] #803 closed

[2022-11-04 08:11] #389 closed

[2022-11-04 09:07] matskiv commented on #714
@Ab-hishek Where are you with regards to this issue? We will implement it if you are busy with other things. :slightly_smiling_face:

[2022-11-04 09:18] FabianKramm opened #806 "Automatically create external data backend for k3s"
With the PR #795 we have a configuration for k3s that expects an external database such as mysql or etcd. Should we provide an automatic way to also deploy an etcd cluster / mysql server alongside k3s in our helm chart for HA or for use cases where sqlite isn't enough?

[2022-11-04 09:27] matskiv commented on #3
We decided to not implement this for now. Please comment if you feel like we should reconsider.

[2022-11-04 09:27] #3 closed

[2022-11-04 09:33] matskiv commented on #14
@carlmontanari Have you had any issues with vcluster in your lab setup with NFS?

[2022-11-04 09:37] matskiv commented on #246
Done in PRs mentioned above.

[2022-11-04 09:37] #246 closed

[2022-11-04 09:59] #296 closed

[2022-11-04 10:18] christiaangoossens opened #807 "vcluster pod will crash loop if the cluster itself (k0s, k3s etc) has crashed"
### What happened?

*This is not necessarily a bug with the syncer itself, but with the configuration of the charts shipped by vcluster.*

Currently, the `syncer` container is configured with a liveness probe to `/healthz` and a readiness probe to `/readyz`. For both k0s and k3s (and possibly others) no liveness or readiness probe is configured for the Kubernetes server `vcluster` container itself

[2022-11-04 10:34] matskiv commented on #807
@christiaangoossens Thank you for reporting this. It should definitely be added, and I think we will try to include it in the next release(hopefully releasing next week).
The API port in the vcluster container is 6443.

Would you be interested in sending a PR with a fix? The PR would need to be created pretty soon to make it into the next release, but I am happy to provide assistance if needed.

[2022-11-04 10:37] christiaangoossens commented on #807
@matskiv What would be the best way to put a liveness probe on the vcluster container in your opinion? In some cases the 6443 TCP connection or even HTTPS might still work, but the cluster might not actually be responding.

If we can make a consensus about the best way to put a probe on it and how that should be implemented (most likely as an optional flag in the values) I can make a PR somewhere

[2022-11-04 10:50] christiaangoossens commented on #807
For k0s the `/run/k0s/status.sock` socket or `k0s status` command might be options, although I am not sure if that actually indicates a working cluster. What does the `syncer` do to check if the cluster is live (and responding to actual API requests)?

[2022-11-04 10:59] matskiv commented on #807
The syncer actually just proxies the `/healthz` and `/readyz` requests to the API server that is in k3s/k0s. So I guess settings similar probes for the "vcluster" container could be a good enough first step.
And I don't think it needs to be an opt-in flag, we can just add it to the StatefulSet IMHO.

P.S: I am also checking with the main maintainer if there is any reason we have not added these pr

[2022-11-04 12:38] matskiv commented on #807
No reason not to add probes, so we can proceed with the implementation :)

[2022-11-04 13:28] carlmontanari commented on #14
Yeah, with k3s things will not start, or will start and time out. I've been just using k0s or k8s with no issues though. It's been a while since I looked at that but I think I put all the info I know in #646 so hopefully that is helpful! Otherwise, testing with k0s/k8s distros should be able to confirm that it is the same/similar issue (w/ nfs).

[2022-11-04 14:01] matskiv commented on #14
@carlmontanari Thanks!

So since the problem is still present, we will keep this issue open in the backlog.
For now, the workaround is to try a [different distro](https://www.vcluster.com/docs/operator/other-distributions).

[2022-11-04 15:39] christiaangoossens commented on #807
Tried it with my statefulset, this seems to work:

[code]

[2022-11-04 15:40] christiaangoossens commented on #807
@matskiv Do you think this would work for all the implementations? Is `kubectl` available in all of them? Just checking HTTPS to /livez doesn't work here, because it's behind authentication, but this works well.

[2022-11-05 12:09] Ab-hishek commented on #714
I'll try to raise a PR by tomorrow :)

[2022-11-07 09:25] matskiv commented on #251
The tolerations on the CoreDNS pods were removed. I am also adding a note to the docs to warn users that tolerations are synced with the pods. So I think this can be resolved once the docs update is merged.

[2022-11-07 10:39] matskiv commented on #132
The taints should be synced to the virtual nodes when a mode different than "Fake nodes" is used ([Docs](https://www.vcluster.com/docs/architecture/nodes)), and then the DaemonSet behavior would match the behavior of a vanilla k8s.
Also, if the "Fake nodes" mode is used, the control plane nodes are unlikely to be synced to the vcluster(and thus picked up by DaemonSet controller) because vcluster w

[2022-11-07 10:39] #132 closed

[2022-11-07 10:52] rahulii commented on #799
@matskiv then what is the solution you are proposing?
I think this is what we are expecting
[code]
if the vcluster name is `touge-test` , PVC name - data-touge-test-0

But as per the issue reported, the pvc name is: data-touge-test-etcd-0 for k8s distro

[2022-11-07 12:05] matskiv commented on #799
@rahulii I am proposing to just try to delete both `"data-%s-0"` and `"data-%s-etcd-0"`.
And other edge cases can be solved separately later.

[2022-11-07 14:02] #251 closed

[2022-11-07 17:34] #9 closed

[2022-11-08 11:02] matskiv commented on #807
@christiaangoossens Hey! Sorry I didn't reply to you sooner.
I discussed this problem internally a bit more, and now it is clearer why the probes were not added yet - we have seen some slow startups with a large SQLite database(used by default by k3s). So we will likely need to add [startupProbe](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#

[2022-11-08 11:16] matskiv commented on #807
@christiaangoossens You got it working with k0s with the `exec: command: - kubectl  ...`? Which k0s image have you used when trying this? I am using image `k0sproject/k0s:v1.24.3-k0s.0` and getting:

  Warning  Unhealthy  9s (x10 over 21s)  kubelet            Readiness probe failed: OCI runtime exec failed: exec failed: container_linux.go:380: starting container process caused: exec: "kubectl": ex

[2022-11-08 11:32] christiaangoossens commented on #807
@matskiv I was trying `k0sproject/k0s:v1.22.15-k0s.0`, but `k0s kubectl` also works and is actually documented. Maybe that works on v1.24 as well?

[2022-11-08 11:42] matskiv commented on #807
@christiaangoossens oh nice, `k0s kubectl` works for me too. Thanks!

[2022-11-09 01:25] vsantos commented on #122
@matskiv I can try to fix this minor issue if that's okay (especially if I get a few days to work on it). I didn't find the mentioned [main/chart/templates/statefulset.yaml#L32](https://github.com/loft-sh/vcluster/blob/main/chart/templates/statefulset.yaml#L32) repo but only the [main/charts/**/templates](https://github.com/loft-sh/vcluster/tree/main/charts) one.

This is an excellent issue to be

[2022-11-09 08:41] matskiv commented on #122
@vsantos Yeah, absolutely! I'll assign this to you then. You can take your time, there is no rush with this issue.

---

Yeah, we added more charts since this was reported :smile: I would say that the issue applies to all `storageClassName` references in all charts/**.

---
btw: a tip for quick validation. First time I was testing some chart changes I did in a way too complicated way, so sharing j

[2022-11-09 16:45] vsantos commented on #122
@matskiv Do you guys think is a good idea to add some kind of "automated" mechanism to make it easier to test static YAML files as part of the scope of this PR? We could use [bats](https://github.com/sstephenson/bats), it's a very old tool but good in make assertions in bash scripts. Your suggested logic to test locally could be automated to ensure that a given `values.yaml` will return specific s

[2022-11-09 16:52] matskiv commented on #122
@vsantos Oh, I would love to have automated tests for the charts. This has been on my todo list for a while, but it always gets pushed back :joy: I would try to first look for some tools tailored to Helm, to have sort of a "unit tests" for the Helm charts.
But this should be a separate issue for sure :)

[2022-11-10 09:07] #770 closed

[2022-11-10 10:06] #773 closed

[2022-11-11 09:25] #783 closed

[2022-11-17 07:28] rohantmp opened #827 "Feature gated changes to PVC and storageclass behaviour in v1.25"
### Is your feature request related to a problem?

PVC.Spec.StorageClassName might be required to be upsynced.

New functional annotation to investigate for `StorageClass`: [https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/3333-reconcile-default-storage-class](https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/3333-reconcile-default-storage-class).

The

[2022-11-17 10:42] matskiv commented on #827
The `updated.Spec.StorageClassName = pObj.Spec.StorageClassName` update won't work if the virtual API server uses older k8s version or doesn't have the feature flag enabled.

I think we need to map out different scenarios that relate to the default storage class. We need to take into account that we have 3 options for StorageClass sync, the virtual API might not have the feature flag enabled while

[2022-11-18 01:00] dene14 opened #828 "Multiple host namespaces support"
### Is your feature request related to a problem?

Not a problem, potentially improvement...

### Which solution do you suggest?

Provide mapping between host and vcluster namespaces, maybe with some sort of name mapping

e.g. `host/{vclusterName}-{namespaceName}` => `vcluster/{namespaceName}`
If I understand correctly, in this mode no extensive rewriting for all resources and fields in the spec w

[2022-11-18 12:04] matskiv commented on #828
I think this is not compatible with the current vcluster architecture and goals.
This would require a quite big change to the code, and it would increase code complexity or duplication. The cluster-scoped permissions would be required to manage resources in multiple namespaces, and in such case, each vcluster would hold much more data in memory; OR it would have to create watches and caches per na

[2022-11-21 14:49] brandonrjacobs opened #831 "Add Multiple Vcluster support for hostpath mapping daemonset"
### Is your feature request related to a problem?

Yes, currently when running the hostpath mapper it creates a daemonset with each vcluster install. This means if we are running multiple vclusters against the same set of physical nodes we are duplicating the number of daemonsets we are installing. For environments with high numbers of tenants or customers using vcluster, this creates overhead on

[2022-11-22 12:58] matskiv commented on #831
I like the idea of optimizing the host path mapper, so +1 from me, but I am not sure when exactly we can get around to implementing this.

Technical thoughts:
I think this will need to be a separate helm chart and a separate command on the vcluster binary, to keep the current behavior without change.
We could make this work without the need to connect each host-path-mapper pod to the vcluster API

[2022-11-22 14:45] brandonrjacobs commented on #831
I think myself and my organization (CoreWeave) would love to help support this depending on how busy you guys are. We are quite interested in this so would love to collaborate on the implementation with approved support from you guys.

[2022-11-23 08:59] #828 closed

[2022-11-23 12:53] matskiv opened #834 "Feature request: init manifests that would be applied after charts"
### Is your feature request related to a problem?

The "[init manifests](https://www.vcluster.com/docs/operator/init-manifests#applying-manifests-on-initialization)" are applied by the vcluster before [applying charts](https://www.vcluster.com/docs/operator/init-manifests#applying-charts-on-vcluster-initialization). I can foresee use cases where this is desired, but also use cases where a manifest

[2022-11-27 10:14] everflux commented on #60
I am not sure about the implications, but wouldn't it work to have the real node IPs in the fake node ip field or even the external-ip field?
 I tested a LoadBalancer service inside a vcluster and using the real node ip instead of the ip from a fake node worked.

[2022-11-28 19:08] kfox1111 opened #839 "pdb default"
### Is your feature request related to a problem?

Not sure if this is a bug fix or a feature request.

Had a user load up a vcluster, install the percona operator and spin up a db cluster. Then expected everything to work properly.

But no pdb's were synced from the over cluster to the under one, so it would break during the rolling upgrades of the nodes of the undercluster.

### Which solution d

[2022-11-29 10:12] luvres opened #840 "When I apply a manifest dependent on the installation of the helm, no one is installed."
### Is your feature request related to a problem?

When I apply a manifest dependent on the installation of the helm, no one is installed.

### Which solution do you suggest?
[code]
I think of something like:
[code]
### Which alternative solutions exist?

_No response_

### Additional context

_No response_

[2022-11-29 10:30] matskiv commented on #840
Hello @luvres, thank you for reporting your issue.
Would your use case be covered by #834

[2022-11-29 10:51] matskiv commented on #839
@kfox1111 I think we had hesitations about RBAC - would users that have "edit" permissions in a namespace have permissions to edit PDBs. It is the case with [the default k8s "edit" role](https://github.com/kubernetes/kubernetes/blob/e11f23eb9712c9b4bebf8dd85dcb04441b4fb705/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go#L314), but I think before merging the change we will double check a

[2022-11-29 13:26] luvres commented on #840
Oh yes, on the fly! Thanks @matskiv

[2022-11-29 13:50] matskiv commented on #840
Ok, in that case, I'll close this issue to avoid duplication :)

[2022-11-29 13:50] #840 closed

[2022-11-29 17:01] kfox1111 commented on #839
Yeah, vanilla seems to allow it. I'd be surprised if many distro's changed from the defaults. The exception might be openshift. Does anyone have the ability to see what it allows by default?